{% load i18n %}

<div class="clearfix">
    <div class="input control-group">
        <ul class="inputs-list unstyled">
        {% for choice, key, checked, aux in qdict.choices %}
            <li>
                
                <label class="control-label" style="display:inline;">
                    <input onClick="valchanged('{{ question.number }}_{{ choice.value }}', this.checked);" type="checkbox" id="{{ key }}" name="{{ key }}" value="{{ choice.value }}" {{ checked }}>
                    <span>{{ choice.text }}</span> 
                </label>
                <span class="controls">
                    <input type="text" id="question_{{ question.number }}_{{ choice.sortid }}_opt" name="question_{{ question.number }}_{{ choice.sortid }}_opt" value="{{ aux }}" >
                </span>
                
            </li>
            
        {% endfor %}

        {% if qdict.extras %}
            {% for key, value in qdict.extras %}
            <li>
                {% if not forloop.last or not forloop.first %}
                    <b>{{ forloop.counter }}.</b> 
                {% endif %}
                <input type="text" name="{{ key }}" size="50" value="{{ value }}">    
            </li>
            {% endfor %}
        {% endif %}

        {% if question.extra %}
            <li>
                <span class="help-block">{{ question.extra }}</span>
            </li>
        {% endif %}
    </div>
</div>
