{% load i18n %}
{% load extra_tags %}
<div class="clearfix">
    <div class="pull-right">
        <br />
    <button onclick="clear_selection('question_nr_{{ question.number }}', '{{ question.number }}. {{ question.text|removehs }}');" class="btn btn-small" type="button">Clear Selection</button>
    </div>
    <div class="input">
        <ul class="inputs-list unstyled">
            
            <!-- yes -->
            <li>
                <label>
                    <input type="radio" id="question_{{ question.number }}_yes" name="question_{{ question.number }}" value="yes" onClick="valchanged('question_{{ question.number }}', this.value, this);" {% ifequal qdict.value "yes" %} checked{% endifequal %} />
                    <span>{% trans "Yes" %}</span>
                </label>
            </li>

            <!-- no -->
            <li>
                <label>
                    <input type="radio" id="question_{{ question.number }}_no" name="question_{{ question.number }}" value="no" onClick="valchanged('question_{{ question.number }}', this.value, this);" {% ifequal qdict.value "no" %} checked {% endifequal %} />
                    <span>{% trans "No" %}</span>
                </label>
            </li>

            <!-- don't know -->
            {% if qdict.hasdontknow %}        
            <li>
                <label>
                    <input type="radio" id="question_{{ question.number }}_dontknow" name="question_{{ question.number }}" value="dontknow" onClick="valchanged('question_{{ question.number }}', this.value, this);" {% ifequal qdict.value "dontknow" %} checked {% endifequal %} />
                    <span>{% trans "Don't Know" %}</span>
                </label>
            </li>
            {% endif %}
            
            <!-- comment -->
            {% if qdict.hascomment %}
            <li>
                <input type="text" id="question_{{ question.number }}_comment" name="question_{{ question.number }}_comment" value="{{ qdict.comment }}" size="50" {{ qdict.checks|safe }} placeholder="{% trans 'comment' %}" />
                {% if question.extra %}
                    <span class="help-block">{{ question.extra }}</span>
                {% endif %}
            </li>
            {% endif %}
            {% if qdict.value %}
                <script type="text/javascript">
                    $('[id="answered_'+{{ question.number|removedots }}+'"]').show();
                    valchanged('question_{{ question.number }}','{{ qdict.value }}', this);
                </script>
            {% endif %}
        </ul>
    </div>
</div>
