{% load i18n %}
{% load extra_tags %}
<div class="clearfix">
    <div class="input">
        <ul class="inputs-list unstyled">
        {% for sel, choice in qdict.choices %}
            <li>
                <label>
                    <input onClick="valchanged('question_{{ question.number }}', this.value)" type="radio" id="question_{{ question.number }}_{{ forloop.counter }}" name="question_{{ question.number }}" value="{{ choice.value }}" {% if sel %} checked {% endif %}>
                    <span>{{ choice.text }}</span>
                </label>
            </li>
            {% if sel %}
            <script type="text/javascript">
                $('[id="answered_'+{{ question.number|removedots }}+'"]').show();
            </script>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="input">
        <input onClick="valchanged('question_{{ question.number }}', '_entry_');" type="radio" id="question_{{ question.number }}_entry" name="question_{{ question.number }}" value="_entry_" {% if qdict.sel_entry %} checked {% endif %}>
        <input id="question_{{ question.number }}_comment" checks="dep_check('question_{{ question.number }},_entry_')" type="input" name="question_{{ question.number }}_comment" value="{{ qdict.comment }}">
        {% if question.extra %}
            <span class="help-block">{{ question.extra }}</span>
        {% endif %}
    </div>
</div>

