{% load i18n %}
{% load extra_tags %}
<div class="clearfix">
    <div class="input">
        <ul class="inputs-list unstyled">
        {% for choice, key, checked in qdict.choices %}
            <li>
                <label>
                    <input onClick="valchanged('question_{{ question.number }}_{{ choice.value|trim|esc }}', this.checked);" type="checkbox" id="{{ key }}" name="{{ key }}" value="{{ choice.value }}" {{ checked }} />
                    <span>{{ choice.text|trim }}</span>
                </label>
            </li>
            {% if checked %}
            <script type="text/javascript">
                $('[id="answered_'+{{ question.number|removedots }}+'"]').show();
            </script>
            {% endif %}
        {% endfor %}

        {% if qdict.extras %}
            {% for key, value in qdict.extras %}
            <li>
                {% if not forloop.last or not forloop.first %}
                    <b>{{ forloop.counter }}.</b> 
                {% endif %}
                <input type="text" name="{{ key }}" size="50" value="{{ value }}" />    
            </li>
            {% endfor %}
        {% endif %}

        {% if question.extra %}
            <li>
                <span class="help-block">{{ question.extra }}</span>
            </li>
        {% endif %}
    </div>
</div>
