{% load i18n %}
{% load extra_tags %}

<div class="clearfix">
    
    <div class="input">
        {% if "qprocessor_errors" in qdict %}
         <div id='numeric_validator_{{question.number}}' class="control-group error numeric_validator">  
            <input type="text" class="span6" size="60" id="question_{{ question.number }}" name="question_{{ question.number }}" value="{{ qdict.value }}" />
            <span class="help-inline">{{ qdict.qprocessor_errors }}</span>
          </div>
        {% else %}
          <div id='numeric_validator_{{question.number}}' class="control-group numeric_validator">  
            <input type="text" class="span6" size="60" id="question_{{ question.number }}" name="question_{{ question.number }}" value="{{ qdict.value }}" />
            <span class="help-inline">Numeric Field!!!</span>
          </div>
        {% endif %}
        
        {% if question.extra %}
            <span class="help-block">{{ question.extra }}</span>
        {% endif %}
        {% if qdict.value %}
            <script type="text/javascript">
                $('[id="answered_'+{{ question.number|removedots }}+'"]').show();
            </script>
        {% endif %}
        <script type="text/javascript">         
            $(document).ready(function(){
                $("#question_{{ question.number|escapedots }}").inputmask("decimal", { radixPoint: ",", autoGroup: true, groupSeparator: ".", groupSize: 3 });
            });
        </script>
    </div>
</div>
