{% load i18n %}
<div class="clearfix span8">

  <div class="input span5">
    <div class="pull-left" >
      <input type="text" class=" " size="50" id="{{ question.number }}" name="question_{{ question.number }}" value="{{ qdict.value }}">
      {% if question.extra %}
      <span class="help-block">{{ question.extra }}</span>
      {% endif %}
    </div>

    
  </div>
  {% if question.slug == "database_name" %}
        <div class="input span2">         
      <div class="" style="vertical-align:center;padding-top:12px">
   
        <a class="btn btn-small btn-success span2" href="" onclick="validate({{ question.number }}); return false;">Verify if this name is available</a>
<div id="warning_{{ question.number }}" class="hide">
  <font color="red">The name already exists</font>
</div>
<div id="success_{{ question.number }}" class="hide">
  <font color="red">The name is available</font>
</div>
      </div>
      </div>
      {% endif %}


</div>




