{% load i18n %}
{% load extra_tags %}

<div class="row" style="margin-top: 20px;">

<div {% if readonly %} style="display: none;" {% endif %}>
    <div class="control-group span12" >
        <label class="control-label span2">Pubmed id: </label>
        <input class="span5" type="text" id="question_{{ question.number|removedots }}_pubmedid" />
        
        <button {% if readonly %} style="display: none;" {% endif %} id="loadpubbtn" style="margin-bottom:10px;" type="button" class="btn btn-primary disabled" ><i style="color:white;" class="icon-large icon-search icon-white"></i></button>
        
    </div>


    <div class="control-group span12">
        <label class="control-label span2 ">Publication title *:</label>
        <input class="span5" type="text" id="question_{{ question.number|removedots }}_pubtitle" cols="80" />    
    </div>
    <div class="control-group span12">
        <label class="control-label span2">Journal:</label>
        <input class="span5" type="text" id="question_{{ question.number|removedots }}_pubjournal" />    
    </div>
    <div class="control-group span12" >
        <label class="control-label span2">Year:</label>
        <input class="span5" type="text" id="question_{{ question.number|removedots }}_pubyear" />  
    </div>
    <div class="control-group span12">
        <label class="control-label span2">Volume:</label>
        <input class="span5" type="text" id="question_{{ question.number|removedots }}_pubvolume" />    
    </div >
    <div class="control-group span12">
        <label class="control-label span2">Pages:</label>
        <input class="span5" type="text" id="question_{{ question.number|removedots }}_pubpages" />    
    </div>
    <div class="control-group span12">
        <label class="control-label span2">Authors *:</label>
        <input class="span5" type="text" id="question_{{ question.number|removedots }}_pubauthors" />    
    </div>

    <div class="span12" >
        <span class="help-inline">* required fields, and the authors should be with last name initials</span>

    </div>
    
    <div class="control-group span12" style="padding-top:10px;">
    <button id="addpub" type="button" class="btn btn-primary"><i class="icon-large icon-white icon-plus-sign"></i> &nbsp; Add / Update Publication</button>
    <button id="cleanpub" type="button" class="btn btn-primary"><i class="fa fa-trash-o"></i> Clean </button>
    <input type="hidden"  id="question_{{ question.number }}" name="question_{{ question.number }}" value='{{qdict.value}}' />
    </div>
    

    
    {% if qdict.value %}
        <script type="text/javascript">
            $('[id="answered_'+{{ question.number|removedots }}+'"]').show();
        </script>
    {% endif %}
    </div>
    <div class="control-group span8">

    <table style="width: 96%; font-size: 90%;" id="question_{{ question.number|removedots }}_table" class="table table-hover">
        <thead>
            <tr>

              <th {% if readonly %} style="display: none;" {% endif %}>Select</th>
              <th>PubmedId</th>
              <th>Title</th>
              <th>Journal</th>
              <th>Year</th>
              <th>Volume</th>
              <th>Pages</th>
              <th>Authors</th>
              
            </tr>
        </thead>

        <tbody>

        </tbody>

    </table>
    </div>

</div>


<script type="text/javascript">
var publications_counter = 0;
var selected_row = null;

function pubcounterupdate(){
    publications_counter--;

    if(publications_counter == 0){
        if (!(typeof questionSetsCounters === 'undefined')) {
            var qId = parseInt("{{ question.number }}");

                        //console.log(qId);
            questionSetsCounters[qId]['filledQuestions'] = 0;

            var ui = new CounterUI();
            ui.updateCountersClean(qId);
        }
    }
}
function removePublication(id){
    $('#'+id).remove();
}

function PublicationWidget () 
{

    this.clear = function()
    {
        $('#question_{{ question.number|removedots }}_pubtitle').val(""); 
        $('#question_{{ question.number|removedots }}_pubjournal').val("");
        $('#question_{{ question.number|removedots }}_pubyear').val("");
        $('#question_{{ question.number|removedots }}_pubvolume').val("");   
        $('#question_{{ question.number|removedots }}_pubpages').val(""); 
        $('#question_{{ question.number|removedots }}_pubauthors').val(""); 
        $('#question_{{ question.number|removedots }}_publink').val(""); 
    }

    this.updateInformationFromPubMed = function()
    {
        var _pubmedid = $("#question_{{ question.number|removedots }}_pubmedid").val();
        
        if (_pubmedid==null)
            return;
        information = pw{{ question.number|removedots }}.getPubmedInformation(_pubmedid);
        if (information==null)
        {
            //console.log("timeout");
            return;
        }
        $('#question_{{ question.number|removedots }}_pubtitle').val(information['title']); 
        $('#question_{{ question.number|removedots }}_pubjournal').val(information['journal']);
        $('#question_{{ question.number|removedots }}_pubyear').val(information['pub_year']);
        $('#question_{{ question.number|removedots }}_pubvolume').val(information['volume']);  
        $('#question_{{ question.number|removedots }}_pubpages').val(information['pages']);  
        $('#question_{{ question.number|removedots }}_pubauthors').val(information['authors']);  
        $('#question_{{ question.number|removedots }}_publink').val(information['pubmed_url']);
    };

    this.bindElements = function() 
    {

        $("#addpub" ).bind( "click", function() {
            
            pw{{ question.number|removedots }}.addPublication();
            $('[id="answered_'+{{ question.number|removedots }}+'"]').show();

            if (!(typeof questionSetsCounters === 'undefined')) {
                var qId = parseInt("{{ question.number }}");

                //console.log(qId);
                questionSetsCounters[qId]['filledQuestions'] = 1;

                var ui = new CounterUI();
                ui.updateCountersClean(qId);
            }

        });

        $("#cleanpub" ).bind( "click", function() {
            
            $('#question_{{ question.number|removedots }}_pubmedid').val(''); 
            $('#question_{{ question.number|removedots }}_pubtitle').val(''); 
                $('#question_{{ question.number|removedots }}_pubjournal').val(''); 
                $('#question_{{ question.number|removedots }}_pubyear').val(''); 
                $('#question_{{ question.number|removedots }}_pubvolume').val(''); 
                $('#question_{{ question.number|removedots }}_pubpages').val(''); 
                $('#question_{{ question.number|removedots }}_pubauthors').val(''); 
                $('#question_{{ question.number|removedots }}_publink').val(''); 
                $('[id*="pub_"]').removeClass('success');
                selected_row = null;
        });

        $("#loadpubbtn" ).bind( "click", function() {
            if (!$(this).hasClass("disabled")) 
                pw{{ question.number|removedots }}.updateInformationFromPubMed();
        });

        $( "#removepub" ).bind( "click", function() {
            pw{{ question.number|removedots }}.removeSelectedPublication();


        });
        
        
        /*
        function stopRKey(evt) { 
          console.log(evt);
          var evt = (evt) ? evt : ((event) ? event : null); 
          var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
          if ((evt.keyCode == 13) && (node.type=="text"))  {console.log("stop"); pw{{ question.number|removedots }}.addPublication(); return false;} 
        } 

        document.onkeypress = stopRKey; 
        */
        /*$( "#question_{{ question.number|removedots }}_pubmedid").bind( "keypress", function(args) {
           if (args.keyCode == 13) {
                pw{{ question.number|removedots }}.updateInformationFromPubMed();
               return false;
            } 
           
        });*/
        $( "#question_{{ question.number|removedots }}_pubmedid").bind( "paste", function() {
            
            pw{{ question.number|removedots }}.updateInformationFromPubMed();
        });

        $( "#question_{{ question.number|removedots }}_pubmedid").bind( "change", function() {
            if( $(this).val().length > 0){
                $("#loadpubbtn").removeClass("disabled");       
            }else{
                $("#loadpubbtn").addClass("disabled");       
            }
        });
    };
    this.isUpdate = function(pubmedid, pubtitle, pubjournal, pubyear, pubauthors) {
        var _aux = document.getElementById("question_{{ question.number }}").value;
        //console.log(_aux);

        if (!(_aux===undefined || _aux=="")){
            if (_aux[0] != "[")
            {
                var _objs = JSON.parse("["+_aux+"]");
            }
            else
            {
                var _objs = JSON.parse(_aux);    
            }

            for (var i = 0 ; i<_objs.length; i++)
            {
                if(_objs[i]['pmid'] != "" && _objs[i]['pmid'] == pubmedid)
                    return true;

                //console.log(_objs[i]['title'].toLowerCase());

                if( _objs[i]['title'].toLowerCase() === pubtitle.toLowerCase() 
                    && _objs[i]['journal'].toLowerCase() === pubjournal.toLowerCase() 
                    && _objs[i]['year'] === pubyear ){
                    //console.log('FOUND ONE EXACTLY THE SAME');
                    return true;
                }
           }
        }
        return false;
    }
    this.validate_form = function(pubmedid, pubtitle, pubjournal, pubyear, pubauthors) {
        pw{{ question.number|removedots }}.saveInformation();   
        // The pubmed id is not really necessary. It is because might be publications
        // without pubmed id, right? That's the reason I'm uncommenting.
        // Bastiao, 2014Feb08
        /*if(pubmedid.length == 0)
            return false;*/

        if(pubtitle.length == 0)
            return false;
        
        //if(pubjournal.length == 0)
        //    return false;
        
        //if(pubyear.length == 0)
        //    return false;
        
        if(pubauthors.length == 0)
            return false;

        return true;
    }

    this.addPublication = function() 
    {
        var _pubmedid = cleanUp($('#question_{{ question.number|removedots }}_pubmedid').val()); 
        var _pubtitle = cleanUp($('#question_{{ question.number|removedots }}_pubtitle').val()); 
        var _pubjournal = cleanUp($('#question_{{ question.number|removedots }}_pubjournal').val());  
        var _pubyear = cleanUp($('#question_{{ question.number|removedots }}_pubyear').val());  
        var _pubvolume = cleanUp($('#question_{{ question.number|removedots }}_pubvolume').val());  
        var _pubpages = cleanUp($('#question_{{ question.number|removedots }}_pubpages').val());  
        var _pubauthors = cleanUp($('#question_{{ question.number|removedots }}_pubauthors').val());  
        var _publink = cleanUp($('#question_{{ question.number|removedots }}_publink').val());  

        if( !pw{{ question.number|removedots }}.validate_form(_pubmedid, _pubtitle, _pubjournal, _pubyear, _pubauthors) ){
            return;
        }
        //selected_row != null && $('#'+selected_row).length !== 0 
        if(pw{{ question.number|removedots }}.isUpdate(_pubmedid, _pubtitle, _pubjournal, _pubyear, _pubauthors)){  
            console.log('updating');
            var children = $('#'+selected_row).children();

            $(children[2]).text(_pubtitle);
            $(children[3]).text(_pubjournal);
            $(children[4]).text(_pubyear);
            $(children[5]).text(_pubvolume);
            $(children[6]).text(_pubpages);
            $(children[7]).text(_pubauthors);

        } else {

            publications_counter++;
                if (!(typeof formHasChanged === 'undefined')) {
                formHasChanged = true;
            }
            $('#question_{{ question.number|removedots }}_table > tbody:last').append('<tr id="pub_'+publications_counter+'"><td {% if readonly %} style="display: none;" {% endif %}><a class="deleteLink" href="#" ><img src="static/img/glyphicons_192_circle_remove.png"/></a></td><td class="selectable">'+_pubmedid+'</td><td class="selectable">'+_pubtitle+'</td><td class="selectable">'+_pubjournal+'</td><td class="selectable">'+_pubyear+'</td><td class="selectable">'+_pubvolume+'</td><td class="selectable">'+_pubpages+'</td><td class="selectable">'+_pubauthors+'</td></tr>');

            // Add to boolean container if possible
            if (!(typeof bool_container === 'undefined')) {
                bool_container.pushWithDelegate('pub_'+_pubmedid, 'pub #'+_pubmedid+': '+_pubtitle,_pubtitle, 'removePublication("pub_'+_pubmedid+'");');
            }
            
            
            $(".deleteLink").click(function(e) {
                    e.preventDefault();

                    pubcounterupdate();
                
                    // Add to boolean container if possible
                    if (!(typeof bool_container === 'undefined')) {
                        bool_container.splice('pub_'+_pubmedid, 'pub #'+_pubmedid+': '+_pubtitle,_pubtitle);
                    }
                    $(this).closest('tr').remove();
                    
                    if(pw{{ question.number|removedots }}.stringfy().length == 0) {
                        $('[id="answered_'+{{ question.number|removedots }}+'"]').hide();
                    }

                    if (!(typeof formHasChanged === 'undefined')) {
                        formHasChanged = true;
                    }

                    pw{{ question.number|removedots }}.saveInformation();
                    $('[id*="pub_"]').removeClass('success');
                    selected_row = null;
                    return false;
                    
            });
            setEvents();

            pw{{ question.number|removedots }}.saveInformation();
            refreshSelection('pub_'+publications_counter);

        }
    };
    function setEvents(){
          $('.selectable').click(function(e){
            e.preventDefault();

            var parent = $(this).parent();
            console.log('Select to edit' + parent.attr('id') );

            refreshSelection(parent.attr('id'));

            var children = parent.children();

            $('[id="question_{{ question.number|removedots }}_pubmedid"]').val(children[1].textContent);
            $('[id="question_{{ question.number|removedots }}_pubtitle"]').val(children[2].textContent);
            $('[id="question_{{ question.number|removedots }}_pubjournal"]').val(children[3].textContent);
            $('[id="question_{{ question.number|removedots }}_pubyear"]').val(children[4].textContent);
            $('[id="question_{{ question.number|removedots }}_pubvolume"]').val(children[5].textContent);
            $('[id="question_{{ question.number|removedots }}_pubpages"]').val(children[6].textContent);
            $('[id="question_{{ question.number|removedots }}_pubauthors"]').val(children[7].textContent);
        });      
    }
    function refreshSelection(selected){
            $('[id*="pub_"').removeClass('success');
            $('#'+selected).addClass('success');
            selected_row = selected;
    }
    function cleanUp(stuff){
        if(stuff){
            return  stuff.replace(/<(?:.|\n)*?>/gm, '');
        }

        return stuff;
    }
    this.removeSelectedPublication = function() 
    {
        $("#question_{{ question.number|removedots }}_table").deleteRow(0);
        pw{{ question.number|removedots }}.saveInformation();   


    };

    this.saveInformation = function()
    {
        var _value = pw{{ question.number|removedots }}.stringfy();
        //$("#question_{{ question.number }}").val(JSON.stringify(_value));
        document.getElementById("question_{{ question.number }}").value = JSON.stringify(_value);
        
    };
    this.loadInformation = function()
    {
        //var _aux = $("question_{{ question.number }}").val();
        var _aux = document.getElementById("question_{{ question.number }}").value ;
        if (_aux===undefined || _aux=="")
            return;

        console.log(_aux);

        if (_aux[0] != "[")
        {
            var _objs = JSON.parse("["+_aux+"]");
        }
        else
        {
            var _objs = JSON.parse(_aux);    
        }
        
        for (var i = 0 ; i<_objs.length; i++)
        {
            var _pubmedid = _objs[i]['pmid'].replace(/<(?:.|\n)*?>/gm, ''); 
            var _pubtitle = _objs[i]['title'].replace(/<(?:.|\n)*?>/gm, '');
            var _pubjournal = _objs[i]['journal'].replace(/<(?:.|\n)*?>/gm, '');
            var _pubyear = _objs[i]['year'].replace(/<(?:.|\n)*?>/gm, '');
            var _pubvolume = _objs[i]['volume'].replace(/<(?:.|\n)*?>/gm, '');
            var _pubpages = _objs[i]['pages'].replace(/<(?:.|\n)*?>/gm, '');
            var _pubauthors = _objs[i]['authors'].replace(/<(?:.|\n)*?>/gm, '');

            var _publink = _objs[i]['link'];

            if(_pubtitle != undefined){
                publications_counter++;
                 $('#question_{{ question.number|removedots }}_table > tbody:last').append('<tr id="pub_'+publications_counter+'"><td {% if readonly %} style="display: none;" {% endif %}><a class="deleteLink" href="#" ><img src="static/img/glyphicons_192_circle_remove.png"/></a></td><td>'+_pubmedid+'</td><td class="selectable">'+_pubtitle+'</td><td class="selectable">'+_pubjournal+'</td><td class="selectable">'+_pubyear+'</td><td class="selectable">'+_pubvolume+'</td><td class="selectable">'+_pubpages+'</td><td class="selectable">'+_pubauthors+'</td><td class="selectable">'+_publink+'</td></tr>'); 
            }

        }
        $(".deleteLink").click(function(e) {
                e.preventDefault();

                pubcounterupdate();

                $(this).closest('tr').remove();
                
                if(pw{{ question.number|removedots }}.stringfy().length == 0) {
                    $('[id="answered_'+{{ question.number|removedots }}+'"]').hide();
                }

                if (!(typeof formHasChanged === 'undefined')) {
                    formHasChanged = true;
                }
                pw{{ question.number|removedots }}.saveInformation();
                $('[id*="pub_"]').removeClass('success');
                selected_row = null;
                return false;
        });
        setEvents();
    };

    this.getPubmedInformation = function(pubmedid) 
    {

        var result = "";
        $.ajax({
            type: "GET",
            url: "api/pubmed?pmid="+pubmedid,
            async: false,
            data: {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').prop('value'),
                pmid: pubmedid
                
            },
            success: function (data) {
                result = data;
                information = data;
                $('#question_{{ question.number|removedots }}_pubtitle').val(information['title']); 
                $('#question_{{ question.number|removedots }}_pubjournal').val(information['journal']);
                $('#question_{{ question.number|removedots }}_pubyear').val(information['pub_year']);
                $('#question_{{ question.number|removedots }}_pubvolume').val(information['volume']);  
                $('#question_{{ question.number|removedots }}_pubpages').val(information['pages']);  
                $('#question_{{ question.number|removedots }}_pubauthors').val(information['authors']);  
                $('#question_{{ question.number|removedots }}_publink').val(information['pubmed_url']);
            }

        });
        return result;

    };

    this.stringfy = function()
    {
        var result = [];
        $('#question_{{ question.number|removedots }}_table > tbody  > tr').each(function()
         {
            
            var _aux = $(this).html();
            _aux = _aux.replace('<td class="selectable">', '');
            _aux = _aux.replace('<td>', '');

            _aux2 = _aux.split("</td>");
            _pub = {}
            for (var i = 1 ; i<_aux2.length; i++)
            {
                _aux2[i] = _aux2[i].replace('<td class="selectable">', '');
                 _aux2[i] = _aux2[i].replace('<td>', '');

                if (i==1)
                {
                    _pub['pmid'] = _aux2[i];
                }
                else if (i==2)
                {
                    _pub['title'] = _aux2[i];    
                }
                else if (i==3)
                {
                    _pub['journal'] = _aux2[i];    
                }
                else if (i==4)
                {
                    _pub['year'] = _aux2[i];    
                }
                else if (i==5)
                {
                    _pub['pages'] = _aux2[i];    
                }
                else if (i==6)
                {
                    _pub['volume'] = _aux2[i];
                }
                else if (i==7)
                {
                    _pub['authors'] = _aux2[i];    
                }
                else if (i==8)
                {
                    _pub['link'] = _aux2[i];    
                }
            }
            result.push(_pub); 
        });
        
        return result;
    }

}

pw{{ question.number|removedots }} = new PublicationWidget();
pw{{ question.number|removedots }}.bindElements();

pw{{ question.number|removedots }}.loadInformation();    



</script>

