{% comment %}
ATTENTION: This IS NOT a FIELD QUESTIONNAIRE TYPE, ITS JUST THE range INPUT, to be REUSABLE enough on other questionnaire field types
{% endcomment %}
{% load i18n %}
{% load extra_tags %}
<div style="margin-left: 35px;" class="input-append">
        <input type="text" class="span5" size="60" id="question_{{ question.number }}" name="question_{{ question.number }}" value="{{ qdict.value }}" style="text-align:left" />
            <div class="btn-group">
            <a class="btn dropdown-toggle span1" data-toggle="dropdown" href="#">
            <small>Range</small>
            <span class="caret"></span>
            </a>
                <ul class="dropdown-menu pull-right dropdown-menu-form">
                <span style="margin: 10px; text-align: center;">Please, select the range of numbers to be considered</s>
                    <table style="margin-bottom: 0px;" class="table">
                        <tr>
                        <td>From: </td>
                        <td><input id="from_{{ question.number|removedots }}" type="text"/></td>
                            <td><div class="checkbox">
                            
                            <input style="margin-top: 5px;" id="anyfrom_{{ question.number|removedots }}" type="checkbox"> Any Value
                            
                        </div></td>
                </tr><tr>
                <td>To: </td>
                <td><input id="to_{{ question.number|removedots }}" type="text"/></td>
                    <td><div style="margin-top: 5px;" class="checkbox">
                    
                    <input id="anyto_{{ question.number|removedots }}" type="checkbox"> Any Value
                    
                </div></td>
        </tr>
    </table>
    <div><span style="display: none; padding: 5px;" class="text-error" id="error_{{ question.number|removedots }}"></span></div>
    <button type="button" style="margin: 0 5px 0 0;" id="define_{{ question.number|removedots }}" class="pull-right btn">Define</button>
</ul>
</div>
</div>