{% load i18n %}
{% load extra_tags %}
<div class="clearfix">
    
    <div style="margin-left: 35px;" maxlength="254" id='url_validator_{{question.number}}' class="control-group url_validator">        
        <input type="text" class="span6" size="60" id="question_{{ question.number }}" name="question_{{ question.number }}" value="{{ qdict.value }}" />
        {% if question.extra %}
            <span class="help-block">{{ question.extra }}</span>
        {% endif %}
        <span class="help-inline">{{ qdict.qprocessor_errors }}</span>
        {% if qdict.value %}
            <script type="text/javascript">
                $('[id="answered_'+{{ question.number|removedots }}+'"]').show();
            </script>
        {% endif %}
    </div>
</div>
