{% extends 'base.html' %}
{% load url from future %}
{% load extra_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block headextra %}
    <script src="{{ STATIC_URL }}js/vendor/ZeroClipboard.js"></script>
{% endblock %}
{% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "My Private Links" "" %}

{% endblock %}

{% block toolbar %}
    {% include "reusable_blocks/menu_toolbar.html" with collapse=collapseall %}
{% endblock %}

{% block content %}

    {% if added %}
        <div style="margin-top: 50px;" class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
          Private link created successfully.
        </div>
    {% endif %}
    {% if deleted %}
        <div style="margin-top: 50px;" class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
          Private link deleted successfully.
        </div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Database Acronym</th>
                <th style="width: 150px;">Expiration Date</th>
                <th style="width: 80px;">Views Left</th>
                <th style="width: 300px;">Description</th>
                <th style="width: 170px;">Manage</th>
            </tr>
        </thead>
        <tbody>
        {% if links|length > 0 %}
            {% for link in links %}
                <tr>
                    <td><a href="fingerprint/{{link.share.fingerprint}}/1/">{{link.name}}</a></td>
                    <td><center>{{link.share.expiration_date|date:"Y-m-d H:i:s"}}</center></td>
                    <td><center>{{link.share.remaining_views}}</center></td>
                    <td>{%if link.share.description %}{{link.share.description}}{% endif %}</td>

                    <td>
                    <div class="btn-group">
                        <a style="border: 1px solid #dddddd; background-color: white; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);" class="btn btn-link btn-small pub_link" href="public/fingerprint/{{link.share.hash}}">Private Link</a>
                        <button id="cbtn{{link.share.id}}" class="copy-button btn btn-small" data-clipboard-text="public/fingerprint/{{link.share.hash}}" title="Click to copy to clipboard."><i class="fa fa-clipboard"></i></button>
                    </div>

                    <a class="pull-right" href="public/fingerprint/delete/{{link.share.id}}">
                        <img src="static/img/glyphicons_192_circle_remove.png" alt="Delete" />

                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="5"><center>No database is currently shared, you can share a database by using the "Create Private Link" dropdown on the menu toolbar above.</center></td></tr>
        {% endif %}
        </tbody>
    </table>

{% endblock content %}

{% block scriptextraincludes %}
    <script type="text/javascript" src="{{STATIC_URL}}js/emif.public.js"></script>
{% endblock %}
