{% extends 'common_email.html' %}

{% load i18n %}{% autoescape off %}

{% block email_content %}

{% blocktrans with user.email as email %}Dear {{ email }},{% endblocktrans %}<br /><br />

{% blocktrans with site.name as site %}Thank you for signing up at {{ site }}.{% endblocktrans %}<br /><br />

{% trans "An administrator has approved your registration, and you can now login at:" %}<br />

{{ protocol }}://{{ site.domain }}{% url userena_signin %}<br /><br />

{% trans "Thanks for using our site!" %}<br /><br />

{% trans "Sincerely" %},<br />
{{ site.name }}<br />

{% endblock %}
{% endautoescape %}
