

.pc_comment{
    padding-top: 10px;
}


#pc_chart_place{
  overflow:hidden;
}
#export_btns{
    text-align: right;
    margin-bottom: -15px;
}

div.DTTT .btn{
    font-size: 14px !important;
}

.DTTT_button_copy, .DTTT_button_xls, .DTTT_button_pdf,.DTTT_button_csv {
    position: relative;
}
