{% extends "base.html" %}
{% load bootstrap_pagination %}

{% block styleinclude %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/jquery.boolrelwidget.css"></script>
{% endblock %}

{% block headextra %}
    <script src="{{ STATIC_URL}}js/vendor/jquery.boolrelwidget.js"></script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li {% if source == '0' %} class="active" {% endif %}><a href="#simple" data-toggle="tab">Free Text History</a></li>
  <li {% if not source == '0' %} class="active" {% endif %}><a href="#advanced" data-toggle="tab">Advanced Search History</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane {% if source == '0' %} active {% endif %}" id="simple">
      {% include 'simple.html' %}
  </div>
  <div class="tab-pane {% if not source == '0' %} active {% endif %}" id="advanced">
      {% include 'advanced.html' %}
  </div>
</div>
{% endblock %}