.DS_Store
*.pyc

*.db2
*.backup
*.rej

emif/emif/emif.db

#emif/questionnaire

emif/emif/questions.to.print.py

emif/run.sh

emif/emif.db99

emif/emif.db_

emif/emif.db

emif/emif.db
.idea/.name
.idea/workspace.xml
src/pip-delete-this-directory.txt
emif/emif/local_settings.py
fingerprints.pkl
/.project

emif/CACHE

tests/reports

emif/emif/static/files

confs/sso/certificates/sp.crt
confs/sso/certificates/sp.key

