Django==1.4.5
PyYAML==3.10
South==0.7.6
autopep8==0.8.6
distribute==0.6.30
django-admin-bootstrapped==0.3.2
django-countries==1.5
django-crispy-forms==1.2.3
django-guardian==1.0.4
django-transmeta==0.6.9
docutils==0.10
easy-thumbnails==1.2
pep8==1.4.1
pymongo==2.4.2
pyparsing==1.5.6
pytz==2012j
textile==2.1.5
wsgiref==0.1.2
djangorestframework==2.2.6
django-bootstrap-breadcrumbs==0.3
django-bootstrap-pagination==0.1.10
pysolr==3.0.6
github3.py==0.7.0
django-jenkins
-e git://github.com/bioinformatics-ua/django-userena.git#egg=userena
PIL==1.1.7
geopy==0.96.2
openpyxl==1.6.2
request==1.2.3
