{% extends 'base.html' %}
{% load url from future %}
{% load extra_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
        {% breadcrumb "Home" "home" %}
{% endblock %}

{% block toolbar %}
    {% include "menu_toolbar.html" with collapse=collapseall %}
{% endblock %}

{% block headextra %}
    <link rel="stylesheet" href="{{ STATIC_URL}}css/vendor/jquery.gridster.css" />

    <link rel="stylesheet" href="{{ STATIC_URL}}css/emif.dashboard.css" />

    <script src="{{ STATIC_URL}}js/vendor/jquery.gridster.min.js"></script>
    <script src="{{ STATIC_URL}}js/vendor/jquery.tagcloud.js"></script>

    <script src="{{ STATIC_URL}}js/vendor/jquery.dashboard.js"></script>
    <script src="{{ STATIC_URL}}js/vendor/widgets/widget.commonactions.js"></script>
    <script src="{{ STATIC_URL}}js/vendor/widgets/widget.feed.js"></script>
    <script src="{{ STATIC_URL}}js/vendor/widgets/widget.userstats.js"></script>
    <script src="{{ STATIC_URL}}js/vendor/widgets/widget.mostviewed.js"></script>
    <script src="{{ STATIC_URL}}js/vendor/widgets/widget.tagcloud.js"></script>

    {% if user.is_staff %}
        <script src="{{ STATIC_URL}}js/vendor/widgets/widget.admin.lastusers.js"></script>
        <script type="text/javascript">
            var is_staff = true; 
        </script>
    {% endif %}
    <script src="{{ STATIC_URL}}js/emif.dashboard.js"></script>
{% endblock %}

{% block content %}
    <div id="playground" style="margin-left: 0px;" class="span12">
    </div>
{% endblock %}