{% extends 'base.html' %} 
{% load url from future %} 
{% load extra_tags %} 
{% load django_bootstrap_breadcrumbs %} 

{% block styleinclude %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/style.css">

<link rel="stylesheet" href="{{ STATIC_URL }}css/c3.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dyndropdown.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pc.css">
    <style type="text/css">

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .bar {
      fill: steelblue;
    }

    .x.axis path {
      display: none;
    }

    #pctitle{
        text-align: center;
    }
    #pc_chart_place{
        /*margin-left: 60px;*/
    }
    #jerboaupload{
        margin-left: 60px;
        margin-top: 30px;

    }
    </style>

{% endblock %} 
{% block headextra %}
<script src="{{ STATIC_URL}}js/jquery.dyndropdown.js"></script>
<!--[if gte IE 9]><!-->
<script src="{{ STATIC_URL}}js/emif.charts.filters.js"></script>
<script src="{{ STATIC_URL}}js/emif.charts.draw.js"></script>

<script src="{{ STATIC_URL}}js/emif.populationcharacteristics.comments.js"></script>
{% endblock %}
{% block breadcrumbs %} 
{{ block.super }} 
    {% if search_old %}
        {% breadcrumb "Search" "resultsdiff/1" %} 
        {% breadcrumb breadcrumb_name "databases" %} 
    {% elif style == '1' %} 
        {% breadcrumb "My Databases" "databases" %} 
        {% breadcrumb breadcrumb_name "databases" %} 
    {% else %} 
        {% breadcrumb "All Databases" "alldatabases" %} 
        {% breadcrumb breadcrumb_name "databases" %} 
    {% endif %}

{% endblock %}

{% block toolbar %} 
    {% include "reusable_blocks/menu_toolbar.html" with collapse=collapseall %} 
{% endblock %} 

{% block content %} 
    <script type="text/javascript">
    var global_fingerprint_id = 'COMPARE';
    var global_public_key = 'anything_works_since_we_are_logged';
    </script>
    
<div class="hide" id="fingerprints_store">
{%for fp in fingerprint_ids%}
{{fp}} 
{%endfor%}
</div>
<div class="row-fluid">
{% include "population_characteristics.html" %}
</div>


{% endblock %} 

<div>
{% block scriptextraincludes %}
<!--[if gte IE 9]><!-->
<script src="{{ STATIC_URL}}js/emif.charts.c3d3.js"></script>
<script src="{{ STATIC_URL}}js/emif.charts.d3.js"></script>

<script src="{{ STATIC_URL}}js/emif.charts.js"></script>
<!--<![endif]-->
</div>

<!--[if lte IE 8]>
    <script src="{{ STATIC_URL}}js/d3/r2d3.min.js" charset="utf-8"></script>
    <![endif]-->
<!--[if gte IE 9]><!-->

    <script src="{{ STATIC_URL}}js/d3/d3.v3.min.js" charset="utf-8"></script>
    <script src="{{ STATIC_URL}}js/d3/d3.layout.cloud.js"></script>
    <script src="{{ STATIC_URL}}js/c3.js"></script>   
<!--<![endif]-->


<script src="{{ STATIC_URL }}js/emif.database.delete.js"></script>

<!--[if gte IE 9]><!-->
<script src="{{ STATIC_URL}}js/emif.populationcharacteristics.charts.js"></script>

<script src="{{ STATIC_URL}}js/emif.populationcharacteristics.js"></script>
<!--<![endif]-->

{% endblock %}

