{% load url from future %}

{% block styleinclude %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dyndropdown.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pc.css">
    <style type="text/css">

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .bar {
      fill: steelblue;
    }

    .x.axis path {
      display: none;
    }

    #pctitle{
        text-align: center;
    }
    #pc_chart_place{
        /*margin-left: 60px;*/
    }
    #jerboaupload{
        margin-left: 60px;
        margin-top: 30px;

    }
    </style>
{% endblock %}
{% block headextra %}
<script src="{{ STATIC_URL}}js/jquery.dyndropdown.js"></script>
<!--[if gte IE 9]><!-->
<script src="{{ STATIC_URL}}js/emif.charts.filters.js"></script>
<script src="{{ STATIC_URL}}js/emif.charts.draw.js"></script>

<script src="{{ STATIC_URL}}js/emif.populationcharacteristics.comments.js"></script>
{% endblock %}
<!--<![endif]-->




<!--[if lte IE 8]>
<div class="well">Currently IE 7 and 8 don't support this functionality. To use this functionality please update your browser to a modern browser, like IE 9 or better, Google Chrome, Firefox, Opera or Safari.</div>
<![endif]-->
<!--[if gte IE 9]><!-->

    {% if not contains_population and owner_fingerprint or not contains_population and request.user.is_superuser %}
         <h4 class="pull-center">No population characteristics associated with this database yet.</h4>
    <p class="pull-center">This database fingerprint does not have population characteristics. Submit the Population Characteristics file that can be extracted using <a onclick="return false;" href="">Jerboa</a>.</p>

    


    <form id="jerboaupload" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <!--<noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>-->
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">                
                <fieldset>

                <label>Name:</label> <input size="255" class="span7" type="text" cols="100" name="pc_name" >
                <label>Description about extracted population characteristics: </label>
                <textarea class="span7 input-block-level" rows="4" name="pc_comments" ></textarea>

                <!-- The fileinput-button span is used to style the file input field as button -->
                <br />
                <div style="margin-left: 0px !important;" class="span7 btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="file" multiple>
                </div>
                
                
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
                </fieldset>
            <!-- The global progress information -->
            <div class="span6 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        
    </form> 


    <br>
    <br>
    
    <table class="table table-striped">
    <tbody class="files" id="jerboafiles">


    </tbody>
    </table>
    {% else %}
        {%if contains_population %}

    {% if latest_pop %}
        <div class="pull-left">
            Last update on: {{latest_pop.latest_date|date:"d/m/Y H:i:s"}}
        </div>
        {%if owner_fingerprint and not compare or request.user.is_superuser  and not compare %}
        <div class="pull-right">
            <button onclick="$('#modal-updatepopchar').modal('show');" class="btn"><i class="fa fa-pencil-square-o"></i>&nbsp;Update</button>
            {% include "population_characteristics_update.html" %}
        </div>
        {% endif %}
    {% endif %}

    <div class="span9 populationcharacteristicsbar">
    <div class="pull-right hidden ">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Show/Hide
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <!-- dropdown menu links -->                
                <li>
                    <a id="chkpercentile1" href="#"> <i id="imatch" class="icon-ok icon-black active"></i>
                        1st Percentile
                    </a>
                </li>
                <li>
                    <a id="chkpercentile2" href="#"> <i id="iunmatch" class="icon-ok icon-black active"></i>
                        2nd Percentile
                    </a>
                </li>
                <li>
                    <a id="chkpercentil3" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        3rd Percentile
                    </a>
                </li>
                <li>
                    <a id="chkMin" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        Min
                    </a>
                </li>
                <li>
                    <a id="chkMax" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        Max
                    </a>
                </li>
                <li>
                    <a id="proximity" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        Count
                    </a>
                </li>
                <li>
                    <a id="proximity" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        Mean
                    </a>
                </li>
                <li>
                    <a id="emptyrows" href="#">
                        <i id="iemptyrows" class="icon-ok icon-black disabled"></i>
                        Empty rows
                    </a>
                </li>
            </ul>

        </div>
    </div>
    </div>
    
    <div class="row">
    
    </div>
    
    <div class="row">

    <div class="well span3" id="pc_list">


    </div>
    
    <div class="span7" id="chart2">
    
        <div style="margin-left: auto; margin-right: auto;" class='row'>
            <div id='pctitle'>
            </div>
            <div id='pchint'>
            </div>
            <div id='pc_chart_place'>
            </div>
            <div id='pc_comments_placeholder' class="pc_comment">
            </div>
            {%if owner_fingerprint and not compare or request.user.is_superuser  and not compare %}
                <div id="pc_comment_id" class="pc_comment">
                <form id="chartcomments" method="post" action="comments" >
                    {% csrf_token %}
                    <input id="pc_chart_comment_id" name="pc_chart_comment_id" type="hidden" value="">
                    <input id="pc_chart_comment_fingerprint_id" name="pc_chart_comment_fingerprint_id" type="hidden" value="">
                    <label>Title:</label> <input size="255" maxlength="40" style='width:35em' class="" type="text" cols="80" name="pc_chart_comment_name" >

                    <label>Comments about extracted data: </label>
                    <textarea class=" input-block-level" rows="4" cols="80" name="pc_chart_comment_description" ></textarea>
                    <label> </label>
                    <input type="submit" class="btn btn-primary" id="pc_chart_comment_submit" name="pc_chart_comment_submit" disabled="">
                </form>
                </div>
            {%endif%}


        </div>
    </div>
    

    <div class="span2" id="pcBarContentRoot">
        <div class="pull-right" id="pcBarContent"></div>

        <!--div id="pcBarContent" class="well">

        </div-->

    </div>

  

    </div>

    {% else %}
     <h4 class="pull-center">No population characteristics associated with this database yet.</h4>
    <p class="pull-center">This database fingerprint does not have population characteristics yet. Please contact the database owner to get more information.</p>
    {% endif %}


{% endif %}

<!--<![endif]-->


<!--
<script src="{{ STATIC_URL}}js/emif.populationcharacteristics.charts.js"></script>

<script src="{{ STATIC_URL}}js/emif.populationcharacteristics.js"></script>

<script src="{{ STATIC_URL}}js/emif.documents.js"></script>
-->
<!--[if gte IE 9]><!-->
<script src="{{ STATIC_URL}}js/emif.charts.c3d3.js"></script>
<script src="{{ STATIC_URL}}js/emif.charts.d3.js"></script>

<script src="{{ STATIC_URL}}js/emif.charts.js"></script>
<!--<![endif]-->
