<div id="modal-updatepopchar" class="modal hide fade" style="display:none"  >
    <div class="modal-header">
        <a href="#" onclick="$('#modal-updatepopchar').modal('hide'); return false;" class="close">&times;</a>
         <h3>Update Population Characteristics</h3>
    </div>
    <div class="modal-body">
                <form style="margin-left: 0px;" id="jerboaupload" method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Redirect browsers with JavaScript disabled to the origin page -->
                    <!--<noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>-->
                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <div class="fileupload-buttonbar">                
                            <fieldset>

                            <input placeholder="Name" size="255" class="span12" type="text" cols="100" name="pc_name" >
                            <textarea placeholder="Description about extracted population characteristics" class="span12 input-block-level" rows="4" name="pc_comments" ></textarea>

                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <br />
                            <div style="margin-left: 0px !important;" class="span12 btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                                <input type="file" name="file" multiple>
                            </div>
                            
                            
                            <!-- The loading indicator is shown during file processing -->
                            <span class="fileupload-loading"></span>
                            </fieldset>
                        <!-- The global progress information -->
                        <div class="span6 fileupload-progress fade">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                            <!-- The extended global progress information -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    
                </form> 
                <table class="table table-striped">
                  <tbody class="files" id="jerboafiles">


                  </tbody>
                </table>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="$('#modal-updatechar').modal('hide'); return false;" class="btn btn-secondary">Cancel</a>
    </div>
</div>