{% load url from future %}


<style type="text/css">

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

#pctitle{
    text-align: center;
}

</style>

{% if owner_fingerprint %}


    {% if contains_population %}

    This database does not still aggregated data. Submit the Population Characteristics file (Jerboa)

    {% else %}

    {% block jerboaformupload %} 
    {% endblock%}

    You have already population characteristics. Your last activied is dated from: {{pc_last_activity}}
    <div class="span9 populationcharacteristicsbar">
    <div class="pull-right hidden ">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Show/Hide
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <!-- dropdown menu links -->                
                <li>
                    <a id="chkpercentile1" href="#"> <i id="imatch" class="icon-ok icon-black active"></i>
                        1st Percentile
                    </a>
                </li>
                <li>
                    <a id="chkpercentile2" href="#"> <i id="iunmatch" class="icon-ok icon-black active"></i>
                        2nd Percentile
                    </a>
                </li>
                <li>
                    <a id="chkpercentil3" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        3rd Percentile
                    </a>
                </li>
                <li>
                    <a id="chkMin" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        Min
                    </a>
                </li>
                <li>
                    <a id="chkMax" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        Max
                    </a>
                </li>
                <li>
                    <a id="proximity" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        Count
                    </a>
                </li>
                <li>
                    <a id="proximity" href="#">
                        <i id="iproximity" class="icon-ok icon-black active"></i>
                        Mean
                    </a>
                </li>
                <li>
                    <a id="emptyrows" href="#">
                        <i id="iemptyrows" class="icon-ok icon-black disabled"></i>
                        Empty rows
                    </a>
                </li>
            </ul>

        </div>
    </div>
    </div>
    
    <div class="row">
    
    </div>
    
    <div class="row">

    <div class="well span3" id="pc_list">


    </div>
    
    <div class="span6" id="chart2">
    


        <div class='row'>
            <div id='pctitle'>
            </div>
            <div id='d3test'>
            </div>
        </div>
    </div>
    

    <div class="span3 hidden" id="pcBarContentRoot">
        <div > Filter: </div>

        <div id="pcBarContent" class="well">

        </div>


    </div>

  

    </div>

    
    
    {% endif %}

{% endif %}






<!--[if lte IE 8]><script src="{{ STATIC_URL}}js/d3/r2d3.min.js" charset="utf-8"></script><![endif]-->
<!--[if gte IE 9]><!-->
    <script src="{{ STATIC_URL}}js/d3/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL}}js/d3/d3.layout.cloud.js"></script>
<!--<![endif]-->

<script src="http://dimplejs.org/dist/dimple.v1.1.4.min.js"></script>

<!--
<script src="{{ STATIC_URL}}js/emif.populationcharacteristics.charts.js"></script>

<script src="{{ STATIC_URL}}js/emif.populationcharacteristics.js"></script>

<script src="{{ STATIC_URL}}js/emif.documents.js"></script>
-->
<script src="{{ STATIC_URL}}js/emif.charts.d3.js"></script>

<script src="{{ STATIC_URL}}js/emif.charts.js"></script>


<script >

</script>
