{% load extra_tags %}
{% load markup questionnaire i18n %}
{% for k,qs in qset.ordered_items %}
			<table id="t2_{{qs.sortid}}" class="table table-bordered  table-hover">
				<thead>
					<tr>
						<th>Tag</th>
						<th>Value</th>
						<!--th class="commented"><i class="icon-comment"></i></th-->
					</tr>
				</thead>
				<tbody>
					{% for t in qs.list_ordered_tags %}
					<tr>
						{% if t.ttype == 'comment' %}
							<td colspan="2" class="selected-sorter tooltipped" title="{{ t.tag|removehs|safe }}">
								<div class="pull-left"><strong><small>{{ t.number|removehs }} - {{ t.tag|removehs|safe }}</small></strong></div>
						{% else %}
							<td class="tooltipped" title="{{ t.tag|removehs|safe }}">
								{{ t.number|removehs }} - {{ t.tag|removehs|safe }}
							</td>
							{% if t.ttype|captioned %}
							<td class="value_content captioned_content" style="white-space: normal;" data-title="{{ t.value|force_escape }}">
							{% else %}
							<td class="value_content" style="white-space: normal;">
							{% endif %}
						{% endif %}
						<span class="summary_content">
						{% if config.Request_Answer and t.value|trim == "" and user.is_authenticated and t.ttype != 'comment' %}
						    <div class="requestanswerbtn empty" data-question="{{t.id}}">
						    	<button style="margin-top: -6px;margin-bottom: -6px;" class="btn input-block-level requestlabel depon_class">Request Answer</button>
						    </div>
						{% endif %}
						{{ t.value|safe }}
						</span>

						{% if not t.comment|safe == None and not t.comment.strip|safe == "" %}
						<div class="pull-right">
							<i class="comment_button icon-comment" data-container="body" data-toggle="popover" data-placement="left" data-title="Comment" data-content="{{ t.comment.strip|safe }}"></i>
						</div>
						<div class="comment-print">
							<strong>Comment: </strong>{{ t.comment.strip|safe }}
						</div>
						{% endif %}

						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
<script type="text/javascript">
	initializeQset({{qs.sortid}});
</script>
{% endfor %}
