    html {
        background: url(img/microscope.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;

        height: 100%;
    }

    body {
        /*padding-top: 20px;*/
        height: 100%;
        font-size: 16px;
        font-family: "Open Sans",serif;
        background: transparent;
    }

    button{
        font-family: "Open Sans",serif;
        width: 220px;
    }

    h1 {
        font-family: "Abel", Arial, sans-serif;
        font-size: 80px;
        margin-bottom:50px;
    }

    /* Override B3 .panel adding a subtly transparent background */
    .panel {
        background-color: rgba(255, 255, 255, 0.75);
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
        text-align: center;
        visibility: hidden;
        opacity: 0.0;
        position: relative;
        margin-top:-20px;
    }

    .inside{
        margin-top:50px;
        margin-bottom:80px;
        margin-right:50px;
        margin-left:50px;

    }
    .inside2{
        margin-top:15px;
        margin-bottom:10px;
        margin-right:50px;
        margin-left:50px;
    }

    .margin-base-vertical {
        margin: 40px 0;
    }
