{% extends 'base.html' %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "home" %}
    {% breadcrumb "Reset Password" "" %}
{% endblock %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div style="margin-bottom: 50px;"></div>
<div class="row">
  <div class="span4 center">
<form id="reset_form" action="" method="post">
  <fieldset>
    <legend>{% trans "Reset Password" %} <a style="font-size: 14px;" class="pull-right" href="{% url 'userena_signin' %}">{% trans 'Return to Login' %}</a></legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <center><input type="submit" class="btn btn-primary" value="{% trans 'Send password' %}" /></center>
</form>
      </div>
      </div>
{% endblock %}

{% block scriptextra %}

  var focusFirstField = function () {
      $('#reset_form input:nth(1)').focus();
  };
  $('#reset_form input[type="text"], #signin_form input[type="password"]').addClass('span4');
  focusFirstField();
  $('#reset_form .control-label').each(function(e){
    var fore = '#'+$(this).attr('for');
    var destiny = $(fore);

    if(destiny.get(0)){
        var content = $(this).text().trim();

        $(destiny).prop('placeholder', content);

        $(this).hide();
    }
  });   
{% endblock %}
