{% extends 'base.html' %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "home" %}
    {% breadcrumb "Reset Password" "" %}
{% endblock %}


{% block title %}{% trans "Password reset email sent" %}{% endblock %}
{% block content_title %}<h2>{% trans "Password reset email sent" %}</h2>{% endblock %}

{% block content %}
        <div style="margin-bottom: 50px;"></div>
<div class="row">
  <div class="span6 center">
<p>{% trans "An e-mail has been sent to you which explains how to reset your password." %}</p>
      </div>
      </div>
{% endblock %}
