{% extends 'base.html' %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "home" %}
    {% breadcrumb "Reset Password" "" %}
{% endblock %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div style="margin-bottom: 50px;"></div>
<div class="row">
  <div class="span4 center">
<form action="" method="post">
  <fieldset>
    <legend>{% trans "Reset Password" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" class="btn btn-primary value="{% trans 'Reset password' %}" />
</form>
      </div>
      </div>
{% endblock %}
