{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block headerlogin %}
{% endblock %}

{% block content %}
</div>
</div>
<div style="margin-top: 50px;" class="row">
  <div class="span4 center">
    <form method="post" id="signup_form">
        {% csrf_token %}
        <fieldset> 
          <legend>Create Account <small>(all fields are mandatory)</small></legend>
          <span class="help-block">
          </span>
          {{ form|crispy }}
        </fieldset>
        <br />
        <center>
          <button class="btn" type="reset">{% trans "Clear"%}</button>
          <button class="btn btn-primary" type="submit">Create Account</button> 
        <div>or <a href="index">sign in</a></div>
        </center>
    </form>
  </div>
</div>

{% endblock %}

{% block scriptextra %}
  var focusFirstField = function () {
      $('#signup_form input:nth(1)').focus();
  };
  $('#signup_form input[type="text"], #signup_form input[type="password"], #signup_form select').addClass('span4');
  $('#signup_form button[type="reset"]').on('click', focusFirstField);
  focusFirstField();
    /* I swear, i can't seem to be able to edit the damn forms from django_userena other way 
   * It's like they think people don't want to change the layout easily...
   */
  $('#signup_form .control-label').each(function(e){
    var fore = '#'+$(this).attr('for');
    var destiny = $(fore);

    if(destiny.get(0)){
        var content = $(this).text().trim();

        $(destiny).prop('placeholder', content);

        $(this).hide();
    }
  }); 
  {% endblock %}
  