{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block headerlogin %}
{% endblock %}

{% block content %}
<div class="row">
  <div style="position: relative;" class="span6 center">
    <form method="post" id="signup_form">
        {% csrf_token %}
        <fieldset> 
          <legend>Create Account (all fields are mandatory)</legend>
          <span class="help-block">
          </span>
          {{ form|crispy }}
        </fieldset>
        <br />
        <center>
          <button class="btn btn-primary" type="submit">Create Account</button>
          <button class="btn" type="reset">{% trans "Clear"%}</button>
        <div>or <a href="{% url 'userena_signin' %}">sign in</a></div>
        </center>
    </form>
  </div>
</div>
{% endblock %}

{% block scriptextra %}
  var focusFirstField = function () {
      $('#signup_form input:nth(1)').focus();
  };
  $('#signup_form input[type="text"], #signup_form input[type="password"], #signup_form select').addClass('span6');
  $('#signup_form button[type="reset"]').on('click', focusFirstField);
  focusFirstField();
  {% endblock %}
  