{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block headerlogin %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span6 center">
    <form method="post" id="signin_form">
        {% csrf_token %}
        <fieldset>
          <legend>{% trans "Sign in" %} <small class="pull-right">Don't have an account? <a href="{% url 'userena_signup' %}">Sign up</a>.</small></legend>
          {% if messages %}
          <span class="help-block">
            {% for message in messages %}
            <em{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</em>
            {% endfor %}
          </span>
          {% endif %}
          {{ form|crispy }}
        </fieldset>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">{% trans "Sign in"%}</button>
        </div>
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </form>
  </div>
</div>
{% endblock %}

{% block scriptextra %}
<script>
  var focusFirstField = function () {
      $('#signin_form input:nth(1)').focus();
  };
  $('#signin_form input[type="text"], #signin_form input[type="password"]').addClass('span6');
  focusFirstField();
</script>
{% endblock %}
