{% extends 'base.html' %}
{% load url from future %}




{% block content%}

       <div id="contact_wrap">

<h2>Disclaimer</h2>

The EMIF Catalogue is an on-going work of the IMI-funded research project EMIF (European Medical Information Framework).
<br />
This system is continuously under development and we welcome your ideas and suggestions for improvement of this platform.
<br />
<br />
José Luis Oliveira (jlo@ua.pt)<br />
University of Aveiro, Dept. Electronics, Telecommunications and Informatics (DETI / IEETA)
<br />

<hr>

<h2>Available features:<h2>

<h3>Regular user</h3>
<ul>
<li>Accounting management (users, databases, workspaces)</li>
<li>Database management </li>
<li>Submission and edition (with the former questionary)</li>
<li>Inclusion of two distinct templates </li>
<li>Observational data (Unfinished template)</li>
<li>Cohorts (Dummy template)</li>
<li>Simple search</li>
<li>Advanced search</li>
<li>Results comparison</li>
</ul>

<h3>Admin</h3>

<ul>
<li>Questions/fingerprints</li>
<li>User </li>
<li>Templates </li>
</ul>

<h2>Near term planned features:</h2>
<ul>

<li>Templates definition</li>
<li>Enhance searching</li>
</ul>
    </div>


{% endblock %}


