{% extends "base.html" %}
{% load extra_tags %}

{% load markup questionnaire i18n %}


{% block styleextra %}

button {
    border: 1px #AAA solid;
    padding: 4px 10px;
}
.hide {
    display: none;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 0px solid #e5e5e5;
}
.accordion-heading .accordion-toggle {
display: block;
padding: 5px 15px;
}

.accordion-heading a {
color: #333;
text-decoration: none;
}
{% endblock %}


{% block headextra %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/chosen.css"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}progressbar.css"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/jquery.boolrelwidget.css"></script>

<script src="{{ STATIC_URL}}questionset.js"></script>
<script src="{{ STATIC_URL}}js/vendor/threadpool.js"></script>
<script src="{{ STATIC_URL}}js/vendor/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL}}js/vendor/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL}}js/fingerprint_validation.js"></script>
<script src="{{ STATIC_URL}}js/fingerprint.js"></script>
<script src="{{ STATIC_URL}}js/vendor/jquery.boolrelwidget.js"></script>


{% for x in jsinclude %}
<script type="text/javascript" src="{{ x }}"></script>
{% endfor %}
    
    {% for x in cssinclude %}
<link rel="stylesheet" href="{{ x }}" type="text/css" />
{% endfor %}



{% if async_progress %}
<script type="text/javascript">var progress_url = "{{ async_url }}";</script>
<script type="text/javascript" src="{{ STATIC_URL }}progress.js"></script>
{% endif %}
{% endblock %}

{% block language %}
    {% for lang in LANGUAGES %}{% if not forloop.first %} |{% endif %}
<a href="{{request.path}}?lang={{ lang.0 }}">{{ lang.1 }}</a>
{% endfor %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="pull-center" >Advanced Search</h2>
</div>
<hr>
<div class="row">
<div class="span3">
  <div class="well" style="max-width: 340px; padding: 8px 0;">

    <ul class="nav nav-list nav-pills nav-stacked ">
      <li class="nav-header">Step-by-Step</li>
      {% for qs in questionset.questionnaire.questionsets %}

      {% if qs.sortid != 0 and qs.sortid != 99 %}
      <li{% if questionset.text == qs.text %} class="active" {% endif %} id="li_qs_{{qs.sortid}}">
        <!--<a href="q2/{{runinfo.random}}/{{ qs.sortid }}">-->
        <a href="advancedSearch/{{qs.questionnaire.pk}}/{{ qs.sortid }}" onclick="questionsets_handle(qs_{{ qs.sortid }}); return false;">
          <table>
            <tr>
              <td width="80%">{{ qs.text|removeh1 }}</td>
              <td width="10%">
                <!--<span style="float:right; vertical-align: middle " class="badge badge-warning">2</span>
              -->
            </td>
          </tr>
        </table>
      </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

</div>
</div>

    <div class="span8">


        <form name="qform" id="qform" action="resultsdiff/1" method="POST">
            {% csrf_token %}
            <input type="hidden" name="qid" value="{{q_id}}" />
                    <div id="set_container">
                    </div>
                    
        </form>
            {% comment %}
{% include "fingerprint_search.html" %}
    {% endcomment  %}      
        </div>
    
</div>
       <div id="bool_container"></div>

<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/chosen.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/emif.advanced_search.js"></script>
<script type="text/javascript">
    var parts_missing = 0;    

    </script>
{% endblock %}

{% block scriptextra %}
function add_triggers() {
            
            console.log("adding triggers");
            {% for trigger in triggers %}
                addtrigger("{{trigger}}");
            {% endfor %}
            
            {% for k,v in qvalues.items %}
                qvalues['{{ k|escapejs }}'] = '{{ v|escapejs }}';
            {% endfor %}
            
            for(key in qvalues) {
                valchanged(key, qvalues[key]);
            }
    this.complete();
}

$('#li_advanced_search').addClass("active");
var bool_container;
$( document ).ready(function() {
    load_questionnary();

});
var threads = {};
function load_questionnary(){

        console.log("Creating questionnary set containers (so they are in order)");
        
        var containers = [];

        // We build the qs containers in memory and just do dom op, on the end, for speed
        // on ie joins are significantly faster than concatenation
        {% for qs in questionset.questionnaire.questionsets %}
            containers.push('<div id="qs_{{ qs.sortid }}" class="{% if qs.sortid == questionset.sortid %} {% else %} hide {% endif %} questionset"><div class="pull-center">Loading...</div></div>\n');
        {% endfor %}

        $('#set_container').append(containers.join(''));

        console.log( "Loading questionnary by parts, we have {{questionset.questionnaire.questionsets.count}} sets");  
        
        var threadpool = new ThreadPool(1);
        parts_missing = {{ questionset.questionnaire.questionsets.count }};


        // i dont everything on a single run, because i just add the containers all at once, not by parts
        // only the constainers content are loaded by parts

        var priority=1;
        {% for qs in questionset.questionnaire.questionsets %}
            {% if not aqid %}
                var thread = new Runnable(loadqspart, priority++, {{ qs.sortid }}, {{qs.questionnaire.pk}}, null);
            {% else %}
                var thread = new Runnable(loadqspart, priority++, {{ qs.sortid }}, {{qs.questionnaire.pk}}, {{aqid}});
            {% endif %}
            threadpool.run(thread);
            threads['qs_{{ qs.sortid }}'] = thread;
        {% endfor %}

        //  we add the triggers thread
        threadpool.run(new Runnable(add_triggers, priority+2));
        threadpool.destroy();
}
function loadqspart(sortid, pk, aqid){
    
    //console.log("getting part from searchqs/"+pk+"/"+sortid+"/");
    if(aqid == null){
        $.get( "searchqs/"+pk+"/"+sortid+"/", function( data ) {
          $( "#qs_"+sortid ).html( data );
        });
    } else {
        $.get( "searchqs/"+pk+"/"+sortid+"/"+aqid, function( data ) {
          $( "#qs_"+sortid ).html( data );
        });    
    }
    threads['qs_'+sortid] = null;
    parts_missing--;
    this.complete();
}

function next_questionset(id_questionset)
{

  var next = false;
  $('.questionset').each(function(i, obj) {
    console.log("obj.id: " + obj.id);
    console.log("next" + next);
    if (next==true)
    {
      questionsets_handle(obj, "");
      next = false;

  }
    if (obj.id==id_questionset.id)
    {
      next = true; 
    }    
  }

  );

}

function questionsets_handle(id_questionset)
{

    var idString = id_questionset.id;
    var id = idString.split('_');

    $('#active_qs').val(id_questionset.id);
    $('#active_qs_sortid').val(id[1]);

  $('.questionset').each(function(i, obj) {

    if (obj.id==id_questionset.id)
    {
       // Check if we are still loading
        console.log("Thread state for "+id_questionset.id+": "+threads[id_questionset.id]);
       if(threads[id_questionset.id] != null){
            threads[id_questionset.id].setPriority(0);
        }
            
    
       $('#'+obj.id).addClass("show");
       $('#li_'+id_questionset.id).addClass("active");
       $('#'+obj.id).removeClass("hide");

       
    }
    else {
      $('#li_'+obj.id).removeClass("active");
      $('#'+obj.id).addClass("hide");
      $('#'+obj.id).removeClass("show");
    }
    
  }

  );
    document.body.scrollTop = document.documentElement.scrollTop = 0;
};
    
    function collapseAll(element, div_id){
        if (element.text().indexOf('Collapse') !== -1) {
           console.log('Collapse all');
           element.text('Expand all');
           if (!element.hasClass('disabled')){
            console.log('#'+div_id +' .collapse');
            element.parents().find('#'+div_id +' .collapse').each(function(index){
                $(this).addClass('in');
                $(this).collapse('hide');
            });
           }
       } else {
           console.log('Expand all');
            element.text('Collapse all');
           if (!element.hasClass('disabled')){
            element.parents().find('#'+div_id +' .collapse').each(function(index){
                $(this).removeClass('in');
                $(this).collapse('show');
            });
           }
       }
    };

{% endblock %}