{% extends 'base.html' %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "All databases" "alldatabases" %}
    {% breadcrumb "Data table" "alldatabases/data-table" %}


{% endblock %}


{% block headextra %}
<link rel="stylesheet" href="static/css/theme.blue.css">
{% endblock %}


{% block scriptextraincludes %}
<script src="static/js/vendor/jquery.tablesorter.min.js"></script>
<script src="static/js/vendor/jquery.tablesorter.widgets.js"></script>

        
        <script type="text/javascript" language="javascript" src="static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('#table_databases').dataTable( {
                        "sScrollY": 200,
                    "sScrollX": "200%",
                    "sScrollXInner": "210%",
                    "bScrollCollapse": true
                } );




             
        </script>


{% endblock %}

{% block styleextra %}

button {
    border: 1px #AAA solid;
    padding: 4px 10px;
}
.hide {
    display: none;
}

{% endblock %}


{% block toolbar %}
{% include "menu_toolbar.html" %}

{% endblock %}

{% block content %}

{% if list_databases %}
<div style="margin-bottom: 70px;"></div>







<div class="dataTables_scrollBody" style="overflow: auto; width: 100%; height: 540px;">
<table cellpadding="0" cellspacing="0" border="1" class="display dataTable table table-hover tablesorter "  data-provides="rowlink" id="table_databases" style="margin-left: 0px; ;">
	<thead>
		<tr>
			<th>{{ titles.0 }}</th>
            {% for t in titles.1 %}
               <th> {{ t }}</th>
            {% endfor %}
		</tr>
	</thead>
    <tbody>

            {% for ans in answers %}
            <tr class="">
                <td>{{ ans.0 }}</td>
                {% for a in ans.1 %}
                    <td> {{ a }}</td>
                {% endfor %}
                </tr>
            {% endfor %}

    </tbody>
</table>
</div>
{% else %}
<div class="row">
<div class="span4">
<div class="alert">
  <a class="close" data-dismiss="error">×</a>
  <strong>Info</strong> Please add a new database, like for instance a Cohort or Observation. You can find this option in the menu "Workspace -> Add -> Research Cohort or Observation Study"
</div>
</div>
</div>
{% endif %}

{% comment %}
  <a class="btn btn-large btn-success" href="advancedSearch/1">Add new database</a>
{% endcomment %}
</div>



{% endblock %}

{% block scriptextra %}
{% comment %}
<script>
{% endcomment %}


$(function() {

  // call the tablesorter plugin
  $("table").tablesorter({
    theme : 'blue',

    // sort on the first column and third column in ascending order
    sortList: [[0,0],[2,0]],

    // hidden filter input/selects will resize the columns, so try to minimize the change
    widthFixed : true,

    // initialize zebra striping and filter widgets
    widgets: ["zebra", "filter"]

  });

});


$('#li_workspace').addClass("active");


{% comment %}
</script>
{% endcomment %}

{% endblock %}