{% extends 'base.html' %}
{% load extra_tags %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "All databases" "alldatabases" %}
    

{% endblock %}


{% block headextra %}
<link rel="stylesheet" href="static/css/theme.blue.css">
{% endblock %}


{% block scriptextraincludes %}

<script src="static/js/emif.paginator.js"></script>

<script src="{{ STATIC_URL }}js/vendor/jquery.ba-throttle-debounce.min.js"></script>
<script src="{{ STATIC_URL }}js/paginator-sorter.js"></script>
<script src="{{STATIC_URL}}js/vendor/bootstrap-select.min.js"></script>

{% endblock %}

{% block styleextra %}

button {
    border: 1px #AAA solid;
    padding: 4px 10px;
}
.hide {
    display: none;
}

{% endblock %}


{% block toolbar %}
{% include "menu_toolbar.html" %}

{% endblock %}

{% block content %}

{% if list_databases %}
<table class="table table-bordered table-hover fingerprint_table table-striped" id="table_databases" data-provides="rowlink">
    <thead>
        <tr>
            <!--<th class="sorter-false filter-false"></th>-->
            <th class="sorter-database_name sorter {%if "icon-minus" not in sort_params.database_name.icon %}selected-sorter{% endif %}"  onclick="a.onClick('database_name', '{{sort_params.database_name.next}}');">
            <div class="pull-left">Acronym</div>
                 <div class="pull-right"><i class="{{sort_params.database_name.icon}}"></i></div>
            </th>
            <th class="sorter-institution sorter {%if "icon-minus" not in sort_params.institution.icon %}selected-sorter{% endif %}"  onclick="a.onClick('institution', '{{sort_params.institution.next}}');">
            <div class="pull-left">Institution Name</div>
                 <div class="pull-right"><i class="{{sort_params.institution.icon}}"></i></div>
            </th>            
            <!--<th>Creation Date</th>-->            
            <th class="sorter-location sorter {%if "icon-minus" not in sort_params.location.icon %}selected-sorter{% endif %}" onclick="a.onClick('location', '{{sort_params.location.next}}');">
                <div class="pull-left">Location</div>
                <div class="pull-right"><i class="{{sort_params.location.icon}}"></i></div> 
            </th>             
            <th class="sorter-nrpatients sorter {%if "icon-minus" not in sort_params.nrpatients.icon %}selected-sorter{% endif %}" onclick="a.onClick('nrpatients', '{{sort_params.nrpatients.next}}');">
                <div class="pull-left">Nr. Patients</div>
                <div class="pull-right"><i class="{{sort_params.nrpatients.icon}}"></i></div> 
            </th>            
            <th class="sorter-lastupdate sorter {%if "icon-minus" not in sort_params.last_update.icon %}selected-sorter{% endif %}" onclick="a.onClick('last_update', '{{sort_params.last_update.next}}');">
            <div class="pull-left">Last update</div>
                <div class="pull-right"><i class="{{sort_params.last_update.icon}}"></i></div> 
            </th>
            <th class="sorter-type sorter {%if "icon-minus" not in sort_params.type.icon %}selected-sorter{% endif %}" onclick="a.onClick('type', '{{sort_params.type.next}}');">
            <div class="pull-left">Type</div>
              <div class="pull-right"><i class="{{sort_params.type.icon}}"></i></div> 
            </th>
            {% comment %}
            <th class="sorter-false filter-false">Modify</th>
            {% endcomment %}

        </tr>
        <tr>
          <td class="table_filter">
                <input class="filter_input" id="database_name_filter" type="text" value="{{sort_params.database_name.filter}}" placeholder="Filter">
          </td>
           <td class="table_filter">
                 <input class="filter_input" id="institution_filter" type="text" value="{{sort_params.institution.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="location_filter" type="text" value="{{sort_params.location.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="nrpatients_filter" type="text" value="{{sort_params.nrpatients.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="last_update_filter" type="text" value="{{sort_params.last_update.filter}}" placeholder="Filter">
          </td>
           <td class="table_filter">
              <select id="type_filter" class="selectpicker" def_value="{{sort_params.type.filter}}">
                <option value="">None</option>
                <option value="adcohort">AD Cohort</option>
                <option value="observationaldatasources">Observational Data Sources</option>
              </select>
          </td>
        </tr>
    </thead>
    <tbody id="table_content">
        
        {% for t in page_obj %}
        <tr>
            <!--<td><img class="db_logo" src="static/upload_images/{{t.logo}}" width="50px" height="50px"/></td>-->
          
          <td>
            <a href="fingerprint/{{ t.id }}/1">{{ t.name }}</a> <small><a href="mlt/{{ t.id }}/">More Like This</a></small>
        </td>
        <td>{{t.institution}}</td>
        <td>{{t.location}}</td>
        <td>{{t.number_patients}}</td>
          <!--<td style="min-width: 120px;">            
                 {{ t.date }}

          </td>-->
          <td class="date">            
                {% if t.last_activity %}
                    {{t.last_activity|datehhmm}}
                {% else %}
                    {{ t.date }}
                {% endif %}
          </td>
          <td class="type">{{ t.type_name }} </td>
          
        </tr>

        {% endfor %}

    </tbody>
</table>
<script type="text/javascript">
var a;
$(document).ready(function(){
    a = new PaginatorSorter("table_databases", '{{sort_params.base_filter}}', '{{sort_params.selected_name}}', '{{sort_params.selected_value}}');
});
</script>
{% include "post_paginator.html" %}

{% else %}
<div class="row">  
<div class="span4">  
<div class="alert">  
  <a class="close" data-dismiss="error">×</a>  
  <strong>Info</strong> Please add a new database, like for instance a Cohort or Observation. You can find this option in the menu "Workspace -> Add -> Research Cohort or Observation Study"
</div>  
</div>  
</div>  
{% endif %}

{% comment %}
  <a class="btn btn-large btn-success" href="advancedSearch/1">Add new database</a>
{% endcomment %}
</div>



<div id="modal-from-dom" class="modal hide fade" style="display:none"  >
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
         <h3>Delete Fingerprint</h3>
    </div>
    <div class="modal-body">
        <p>You are removing the database fingerprint. This procedure is irreversible.</p>
        <p>Do you want to proceed?</p>
        <p id="debug-url"></p>
    </div>
    <div class="modal-footer">
        <a href="rm/ref" class="btn btn-danger">Yes</a>
        <!-- <a href="delete.php?some=param&ref=" class="btn danger">Yes 2</a> -->
        <a href="javascript:$('#modal-from-dom').modal('hide')" class="btn btn-secondary">No</a>
    </div>
</div>

{% endblock %}

{% block scriptextra %}
{% comment %}
<script>
{% endcomment %}

$(document).ready(function(){
    $('a[href="#"]').attr('href', function(i, val){
        return window.location + val;
    });
    //$('.selectpicker').selectpicker();
});

$('#li_workspace').addClass("active");

$('#modal-from-dom').bind('show', function() {
    var id = $(this).data('id'),
        removeBtn = $(this).find('.btn-danger'),
        href = removeBtn.attr('href');
    console.log('id' + id);
    removeBtn.attr('href', href.replace('ref', '' + id));
});


$('.confirm-delete').click(function(e) {
    e.preventDefault();
    
    var id = $(this).data('id');
    $('#modal-from-dom').data('id', id).modal('show');
});



{% comment %}
</script>
{% endcomment %}

{% endblock %}