{% extends 'base.html' %}
{% load url from future %}
{% load extra_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "All databases" "alldatabases" %}
    {% breadcrumb "Data table" "alldatabases/data-table" %}


{% endblock %}


{% block headextra %}
<link rel="stylesheet" href="{{STATIC_URL}}css/theme.blue.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/vendor/bootstrap-select.min.css">
{% endblock %}


{% block scriptextraincludes %}
<script src="{{STATIC_URL}}js/vendor/jquery.tablesorter.min.js"></script>
<script src="{{STATIC_URL}}js/vendor/jquery.tablesorter.widgets.js"></script>
<!--script src="{{STATIC_URL}}js/vendor/jquery.stickytableheaders.min.js"></script-->
<script src="{{STATIC_URL}}js/vendor/bootstrap-select.min.js"></script>

<script src="{{STATIC_URL}}js/databases_datatable.js"></script>

{% endblock %}

{% block styleextra %}

button {
    border: 1px #AAA solid;
    padding: 4px 10px;
}
.hide {
    display: none;
}

{% endblock %}


{% block toolbar %}
{% include "menu_toolbar.html" %}

{% endblock %}

{% block content %}

{% if list_databases %}
<div style="clear: both;"></div>

<select class="pull-left" id="db_type">
<option value="0">Select a database type</option>
{% for k in databases_types  %}
 <option value="{{k}}">{{k}}</option>
{% endfor %}
</select>

{% for k, qsets in databases_types.items  %}
<!--select id="q_select_{{k}}" class="depon_class qsets1">

<option value="0">-- Select a questionset</option>
    {% for text, ref in qsets  %}
     <option value="{{text}}">{{text|removeh1}}</option>
    {% endfor %}
</select-->
<!-- Very nice trick, to use dropdown with checkboxes from: http://www.rasmuslarsson.se/2013/07/how-to-put-checkboxes-in-bootstrap-dropdowns/-->
<div id="q_select_{{k|removespaces}}" class="small-margin-left depon_class qsets pull-left dropdown">
    <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
        Questionsets to show
        <b class="caret"></b>
    </a>
    <div class="dropdown-menu dropdown-menu-form" role="menu">
          <button onclick="selectall('#q_select_{{k|removespaces}}');" class="btn pull-right btn-link" type="button">Select/Deselect all</button>
          <ul class="select_checkbox_container">
        {% for text, ref in qsets  %}
        <li>
            <label class="checkbox">
                <input class="qset_option" value="{{text}}" type="checkbox">
                {{text|removeh1}}
            </label>
        </li>
        {% endfor %}
    </ul>
    </div>

</div>

{% endfor %}
  <button id="update_table_button" class="small-margin-left btn depon_class" type="button">Show Datatable</button>


<div class="clearboth" id="tabular_container">
    <div class="well pull-center">
    To see a tabular view of all databases, please choose a database type and a questionset.
    </div>
</div>


{% else %}
<div class="row">
<div class="span4">
<div class="alert">
  <a class="close" data-dismiss="error">×</a>
  <strong>Info</strong> Please add a new database, like for instance a Cohort or Observation. You can find this option in the menu "Database -> Add -> Research Cohort or Observation Study"
</div>
</div>
</div>
{% endif %}

{% comment %}
  <a class="btn btn-large btn-success" href="advancedSearch/1">Add new database</a>
{% endcomment %}
</div>



{% endblock %}

{% block scriptextra %}
{% comment %}
<script>
{% endcomment %}


$('#li_workspace').addClass("active");

{% comment %}
</script>
{% endcomment %}

{% endblock %}