{% extends 'base.html' %}
{% load extra_tags %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}

{% breadcrumb "Personal" "databases" %}
{% breadcrumb "API Info" "api-info" %}

{% endblock %}

{% block headextra %}
{% endblock %}


{% block scriptextraincludes %}

    <script src="{{ STATIC_URL }}js/vendor/jquery.ba-throttle-debounce.min.js"></script>
<script src="{{ STATIC_URL }}js/paginator-sorter.js"></script>
<script src="{{ STATIC_URL }}js/emif.paginator.js"></script>


{% endblock %}

{% block content %}
<div class="container"></div>

    <div class="row-fluid">
        <div class="span6">
            <h3>API Info Details</h3>
        </div>
        <div class="span6 pull-right" style="text-align:right">
            <a class="btn right" href="docs/api"> <i class=" icon"></i>
                <i class="icon-book"></i>&nbsp; API Doc
            </a>
        </div>
    </div>
    <hr>
        <div class="well">
    <p><strong>User:</strong> {{ user}}</p>

    <p><strong>Token:</strong> {{ token}}</p>
            </div>
    <!--<hr>-->
    <p><strong>Fingerprints</strong></p>

    {% if list_databases %}
    <table class="table table-bordered table-hover fingerprint_table table-striped" id="table_databases" data-provides="rowlink">
    <thead>
        <tr>
            <th class="sorter-database_name sorter {%if "icon-minus" not in sort_params.database_name.icon %}selected-sorter{% endif %}"  onclick="a.onClick('database_name', '{{sort_params.database_name.next}}');">
            <div class="pull-left">Name</div>
                 <div class="pull-right"><i class="{{sort_params.database_name.icon}}"></i></div>
            </th>
            <th class="sorter-institution sorter {%if "icon-minus" not in sort_params.institution.icon %}selected-sorter{% endif %}"  onclick="a.onClick('institution', '{{sort_params.institution.next}}');">
            <div class="pull-left">Institution Name</div>
                 <div class="pull-right"><i class="{{sort_params.institution.icon}}"></i></div>
            </th>
            <!--<th>Creation Date</th>-->
            <th class="sorter-location sorter {%if "icon-minus" not in sort_params.location.icon %}selected-sorter{% endif %}" onclick="a.onClick('location', '{{sort_params.location.next}}');">
                <div class="pull-left">Location</div>
                <div class="pull-right"><i class="{{sort_params.location.icon}}"></i></div>
            </th>
            <th class="sorter-nrpatients sorter {%if "icon-minus" not in sort_params.nrpatients.icon %}selected-sorter{% endif %}" onclick="a.onClick('nrpatients', '{{sort_params.nrpatients.next}}');">
                <div class="pull-left">Nr. Patients</div>
                <div class="pull-right"><i class="{{sort_params.nrpatients.icon}}"></i></div>
            </th>
            <th class="sorter-lastupdate sorter {%if "icon-minus" not in sort_params.last_update.icon %}selected-sorter{% endif %}" onclick="a.onClick('last_update', '{{sort_params.last_update.next}}');">
            <div class="pull-left">Last update</div>
                <div class="pull-right"><i class="{{sort_params.last_update.icon}}"></i></div>
            </th>
            <th class="sorter-type sorter {%if "icon-minus" not in sort_params.type.icon %}selected-sorter{% endif %}" onclick="a.onClick('type', '{{sort_params.type.next}}');">
            <div class="pull-left">Type</div>
              <div class="pull-right"><i class="{{sort_params.type.icon}}"></i></div>
            </th>
        </tr>
         <tr>
          <td class="table_filter">
                <input class="filter_input" id="database_name_filter" type="text" value="{{sort_params.database_name.filter}}" placeholder="Filter">
          </td>
           <td class="table_filter">
                 <input class="filter_input" id="institution_filter" type="text" value="{{sort_params.institution.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="location_filter" type="text" value="{{sort_params.location.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="nrpatients_filter" type="text" value="{{sort_params.nrpatients.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="last_update_filter" type="text" value="{{sort_params.last_update.filter}}" placeholder="Filter">
          </td>
           <td class="table_filter">
              {% show_fingerprints_dropdown request.user sort_params %}
          </td>
        </tr>
    </thead>
    <tbody id="table_content">

        {% for t in page_obj %}
        <tr>
            <!--<td><img class="db_logo" src="{{ STATIC_URL }}upload_images/{{t.logo}}" width="50px" height="50px" /></td>-->
          <td>
            <a href="fingerprint/{{ t.id }}/1">{{ t.name }}</a>
            <br />
              <small style="word-break:break-all;">ID: {{t.id}}</small>
        </td>
        <td>{{t.institution}}</td>
        <td>{{t.location}}</td>
        <td style="text-align: right;">{{t.number_patients}}</td>
        <!--
          <td style="min-width: 120px;">
                 {{ t.date }}
        -->
          </td>
          <td style="text-align: center;" class="date">
                {% if t.last_activity %}
                    {{t.last_activity|datehhmm}}
                {% else %}
                    {{ t.date }}
                {% endif %}
          </td>
          <td class="type">{{ t.type_name }} </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

    <script type="text/javascript">
    var a;
    $(document).ready(function(){
        a = new PaginatorSorter("table_databases", '{{sort_params.base_filter}}', '{{sort_params.selected_name}}', '{{sort_params.selected_value}}');
   });
    </script>

    {% include "reusable_blocks/post_paginator.html" %}

    {% else %}
    <p><strong>Info: </strong> Currently, there are no databases in your account. You can add new ones through the
        option "Databases -> New"</p>
    {% endif %}
    <form id="send2" method="POST" >
      <input id="page" type="hidden" name="page" value="{{page}}"></input>
      <input id="s" type="hidden" name="s" value=""></input>
    {% csrf_token %}
    </form>

    {% endblock %}

    {% block scriptextra %}
    {% comment %}
    <script>
        {% endcomment %}
        $('#li_workspace').addClass("active");
        {% comment %}
    </script>
    {% endcomment %}

    {% endblock %}
