{% load url from future %}
{% load extra_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ns lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ns lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ns lt-ie9 gt-ie7"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9 gt-ie7"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <!-- This is WRONG and just for testing, on deploy it must be changed to static base url -->
    <base href="http://{{request.get_host}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}EMIF Catalogue{% endblock title %}</title>
    <meta name="description" content="EMIF Catalogue">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">
    <!-- IE 7 doesnt recognize awesome icons correctly... -->
    <!--[if IE]>
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}font-awesome/css/font-awesome-ie7.min.css" />
        <script src="{{ STATIC_URL }}js/ie7_fixes.js"></script>
    <![endif]-->
    <style>
        body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .navbar .nav.pull-right {
                margin-left: 5px;
            }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <style type="text/css">
        {% block styleextra %}
        {% endblock %}
    </style>
    <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/jquery.cookie.js"></script>
    <script type="application/javascript">
        // We need to configure this to be able to send requests by json with the csrftoken
        var csrftoken = $.cookie('csrftoken');

                    function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
    </script>
    <!--[if lt IE 9]>
            <link rel="stylesheet" href="bootstrap_ie_compatibility">

            <script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>


        <![endif]-->

    {% block headextra %} 
    {% endblock %}


</head>

<body>
        <div class="well not-supported">
                <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                            <a class="brand" href="#">EMIF Catalogue</a>
</div>
            </div>
            </div>
            <!--    You seem to be using a old version of Internet Explorer.<br /><br />
                The Internet browser you're currently using is not supported by the EMIF Catalogue. We currently only support I9-IE11, Chrome, Safari, Firefox and Opera. To be able to use our webpage we recommend you to update your Internet Explorer, or use another modern browser from the supported list.-->
        </div>
        <div class="supported">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">EMIF Catalogue</a>
                <div class="nav-collapse collapse">
                            {% if request.user.is_authenticated %}
                            <ul class="nav">
                                <li id="li_workspace" class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Workspace
                                        <b class="caret"></b>
                                    </a>
                                        <ul class="dropdown-menu">
                                        <li>
                                            <a href="databases">My Databases</a>
                                        </li>
                                        <li>
                                            <a href="alldatabases">All Databases</a>
                                        </li>


                                        {% comment %}
                                        <li>
                                            <a href="databases">Edit Databases</a>
                                        </li>
                                        <li>
                                            <a href="databases">Query History</a>
                                        </li>
                                        <li>
                                            <a href="databases">Timeline</a>
                                        </li>
                                        {% endcomment %} 
                                        
                                        {% comment %} 
                                        {% if request.user.is_superuser %}

                                        <li class="divider"></li>
                                        <li class="dropdown-submenu">
                                            <a href="" onclick="return false;">Statistics</a>
                                            <ul class="dropdown-menu">
                                                {% show_fingerprints_for_statistics %}
                                            </ul>
                                        </li>
                                        {% endif %} 
                                        {% endcomment %} 
                                        
                                        {% comment %}
                                            <li class="divider"></li>

                                            <li>
                                                <a href="databases">Subscribe interests</a>
                                            </li>
                                        {% endcomment %}
                                            
                                            <li class="divider"></li>

                                            <li class="dropdown-submenu">
                                                <a href="" onclick="return false;">Add new databases</a>
                                                <ul class="dropdown-menu">
                                                    {% show_fingerprints %}
                                                </ul>
                                            </li>
                                            
                                        {% comment %}
                                            <li class="divider"></li>
                                            <li>{% if request.user.is_superuser %}
                                                <a href="import-questionnaire">Import Questionnaire</a>
                                                {% endif %}

                                            </li>
                                        {% endcomment %}
                                        </li>
                                    </ul>
                                    </li>

                                        {% comment %}
                                    <li id="li_search">
                                        <a href="search">Quick Search</a>
                                    </li>
                                        {% endcomment %}


                                    <li id="li_advanced_search" class="pull-left dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Advanced Search <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">{% show_fingerprints_for_search %}</ul>
                                    </li>

                    <li id="search_li" class="pull-left">
                            <form class="navbar-search pull-left" method="POST" action="resultsdiff/1">{% csrf_token %}
                                <input title="Enter the terms you wish to search for." class="search-query span3 form-text" placeholder="" type="text" id="edit-search-block-form--3" name="query" value="{{search_old}}" size="25" maxlength="256">
                            </form>
                          </li>
                        </ul>
                        {% endif %}
                        <ul class="nav pull-right">
                            {% if not request.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-user "></i>
                                    <i class="icon-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li id="li_signup">
                                        <a href="accounts/signup/">Sign up</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li id="li_reset_password">
                                        <a href="accounts/password/reset/">Forgot the password?</a>
                                    </li>
                                </ul>
                               
                            </li>
                             {% endif %}
                            <li id="li_feedback">
                                <a href="feedback">Feedback</a>
                            </li>
                            <li id="li_about">
                                <a href="about">About</a>
                            </li>


                        
                        {% block headerlogin %} 
                        {% if not request.user.is_authenticated %}
                            <li id="auth-logged-out">
                        <form class="navbar-form pull-right" method="post" action="accounts/signin/">
                            {% csrf_token %}
                            <input name="identification" class="signin-header-form-email" type="text" placeholder="Email">
                            <input name="password" class="signin-header-form-pass" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form>
                            </li>
                        {% else %}
                            <li id="auth-logged-in">
                                <p class="navbar-text pull-right">

                            
                            {% comment %}
                                <em>{{ request.user.get_full_name }}
                            {% endcomment %}</em>[
                            <a href="accounts/signout/" class="navbar-link">Sign out</a>]
                        </p>
                        
                            </li>
                    {% endif %} 
                    {% endblock %}
                        </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        {% if breadcrumb %}
            {% block breadcrumbs %}
                {% breadcrumb "Workspace" "databases" %}
            {% endblock %}


        <div class="pull-left">
            {% render_breadcrumbs %}
        </div>
        {% endif %}
        <div class="pull-right">
            {% block toolbar %} {% endblock %}
        </div>

            {% block content %}
            {% endblock %}


        <hr>


    </div>
               </div>     
        <div class="row" style="text-align:center">
            <footer>
                <p>&copy; EMIF Project 2013</p>

            </footer>
        </div>
    <!-- /container -->

    <script src="{{ STATIC_URL }}js/main.js"></script>

    <!-- backbone -->
    {% comment %}
    <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/ICanHaz.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/backbone-min.js"></script>

    {% endcomment %} {% block scriptextraincludes %} {% endblock %}
    <script type="text/javascript">
        {% block scriptextra %} 
        {% endblock %}
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38876251-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>


</body>

</html>
