{% load url from future %}
{% load extra_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load staticfiles %}
{% with STATIC_URL=STATIC_URL BASE_URL=BASE_URL %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ns lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ns lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ns lt-ie9 gt-ie7"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9 gt-ie7"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->
    <head>
        <!-- This is WRONG and just for testing, on deploy it must be changed to static base url -->
        <base id="base_link" href="{{ BASE_URL }}">
        <!--<base id="base_link" href="{{ request.get_host }}">-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}EMIF Catalogue{% endblock title %}</title>
        <meta name="description" content="EMIF Catalogue">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- IE 7 doesnt recognize awesome icons correctly... -->
        <!--[if IE]>
        <link rel="stylesheet" media="all" href="{{ STATIC_URL }}font-awesome/css/font-awesome-ie7.min.css" />
        <script src="{{ STATIC_URL }}js/ie7_fixes.js"></script>
        <![endif]-->
        <style>
        body {
        }
        .navbar .nav.pull-right {
        margin-left: 5px;
        }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        <style type="text/css">
        {% block styleextra %}
        {% endblock %}
        </style>
        <script src="{{ STATIC_URL }}js/vendor/inheritance.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.cookie.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.canclear.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.highlight.js"></script>
        <script type="application/javascript">
        // We need to configure this to be able to send requests by json with the csrftoken
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
        }
        });
        </script>
        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}js/vendor/respond.min.js"></script>
        <link rel="stylesheet" href="bootstrap_ie_compatibility" />
        <![endif]-->
        {% block headextra %}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="well not-supported">
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="brand" href="">EMIF Catalogue</a>
                        </div>
                    </div>
                </div>
                You seem to be using a old version of Internet Explorer.<br /><br />
                The Internet browser you're currently using is not supported by the EMIF Catalogue. We currently only support I9-IE11, Chrome, Safari, Firefox and Opera. To be able to use our webpage we recommend you to update your Internet Explorer, or use another modern browser from the supported list.
            </div>
            <div style="display" class="supported">
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </a>
                            <a class="brand" href="">EMIF Catalogue</a>
                            {% if not readOnly %}
                            <div class="nav-collapse collapse">
                                {% if request.user.is_authenticated %}
                                <ul class="nav" style="margin-right: 0 !important;">
                                    <li id="search_li" class="pull-left">
                                        <form id="quicksearch" class="navbar-search pull-left" method="POST" action="resultsdiff/1">{% csrf_token %}
                                            {% if isAdvanced %}
                                            <input title="Enter the terms you wish to search for." class="search-query span2_5 form-text" placeholder="Search" type="text" id="edit-search-block-form--3" name="query" value="" size="25" maxlength="256">
                                            {% else %}
                                            <input title="Enter the terms you wish to search for." class="search-query span2_5 form-text" placeholder="Search" type="text" id="edit-search-block-form--3" name="query" value="{{search_old}}" size="25" maxlength="256">
                                            {% endif %}
                                            <input name='search_full' value='search_full' type='hidden'>
                                        </form>
                                    </li>
                                </ul>
                                {% endif %}
                                <div class="pull-right">
                                <ul class="nav">
                                    <!--{% if not request.user.is_authenticated %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-user "></i>
                                        <i class="icon-chevron-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li id="li_signup">
                                                <a href="accounts/signup/">Sign up</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li id="li_reset_password">
                                                <a href="accounts/password/reset/">Forgot the password?</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% if request.user.is_authenticated %}
                                    <li id="li_history">
                                        <a href="controlversion/history">History</a>
                                    </li>
                                    {%endif%}-->
                                    <!--<li id="li_feedback">
                                        <a href="feedback">Feedback</a>
                                    </li>
                                    <li id="li_about">
                                        <a href="about">About</a>
                                    </li>-->
                                    {% if request.user.is_authenticated %}
                                    <li id="li_workspace" style="padding-right: 5px;" class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Databases
                                        <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="" onclick="return false;">View</a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="databases">Personal</a>
                                                    </li>
                                                    <li>
                                                        <a href="alldatabases">All</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="public/fingerprint">Public Links</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            
                                            {% comment %}
                                            <li>
                                                <a href="databases">Edit Databases</a>
                                            </li>
                                            <li>
                                                <a href="databases">Query History</a>
                                            </li>
                                            <li>
                                                <a href="databases">Timeline</a>
                                            </li>
                                            {% endcomment %}
                                            
                                            {% comment %}
                                            {% if request.user.is_superuser %}
                                            <li class="divider"></li>
                                            <li class="dropdown-submenu">
                                                <a href="" onclick="return false;">Statistics</a>
                                                <ul class="dropdown-menu">
                                                    {% show_fingerprints_for_statistics %}
                                                </ul>
                                            </li>
                                            {% endif %}
                                            {% endcomment %}
                                            
                                            {% comment %}
                                            <li class="divider"></li>
                                            <li>
                                                <a href="databases">Subscribe interests</a>
                                            </li>
                                            {% endcomment %}
                                            
                                            <li class="divider"></li>
                                            <li class="dropdown-submenu">
                                                <a href="" onclick="return false;">Add New</a>
                                                <ul class="dropdown-menu">
                                                    {% if request.user.get_profile %}
                                                    {% show_fingerprints_interests request.user %}
                                                    {% else %}
                                                    {% show_fingerprints %}
                                                    {% endif %}
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="" onclick="return false;">Search</a>
                                                <ul class="dropdown-menu">
                                                    {% show_fingerprints_for_search %}
                                                    <li class="divider"></li>
                                                    <li><a tabindex="-1" href="advsearch/history">Search History</a></li>
                                                </ul>
                                            </li>
                                            {% comment %}
                                            <li class="divider"></li>
                                            <li>{% if request.user.is_superuser %}
                                                <a href="import-questionnaire">Import Questionnaire</a>
                                                {% endif %}
                                            </li>
                                            {% endcomment %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% block headerlogin %}
                                    {% if not request.user.is_authenticated %}
                                    <li>
                                        <form class="navbar-form pull-right" method="post" action="accounts/signin/">
                                            {% csrf_token %}
                                            <input name="identification" class="signin-header-form-email" type="text" placeholder="Email">
                                            <input name="password" class="signin-header-form-pass" type="password" placeholder="Password">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i>&nbsp;Sign in</button>
                                        </form>
                                    </li>
                                    {% else %}
                                    <li>
                                        <div class="btn-group">
                                            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                            {% if not request.user.first_name and not request.user.last_name %}
                                            <i class="icon-user"></i><small>&nbsp; {{request.user.username|ellipsis:30}} &nbsp;</small><i class="icon-angle-down"></i>
                                            {% else %}
                                            <i class="icon-user"></i><small>&nbsp; {{request.user.first_name|add:" "|add:request.user.last_name|ellipsis:30}} &nbsp;</small><i class="icon-angle-down"></i>
                                            {% endif %}
                                            </button>
                                            <ul class="dropdown-menu">
                                                {% show_profiles request.user %}
                                                {% show_fingerprints_interests_profile request.user %}
                                                <li class="divider"></li>
                                                <li><a href="accounts/profile_edit/" class="navbar-link"><i class="icon-edit"></i>&nbsp;Edit Profile</a></li>
                                                <li><a href="accounts/signout/" class="navbar-link"><i class="icon-signout"></i>&nbsp;Sign out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    {% endif %}
                                    
                                    {% if not request.user.is_authenticated %}
                                    <li>
                                        <div class="btn-group">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown" style="margin-left: 2px;" tabindex="-1"><i class="icon-align-justify"></i></button>
                                            <ul class="dropdown-menu pull-right">
                                                
                                                <li id="li_signup">
                                                    <a href="accounts/signup/"><i class="fa fa-sign-in"></i>&nbsp;Sign up</a>
                                                </li>
                                                <li id="li_reset_password">
                                                    <a href="accounts/password/reset/"><i class="fa fa-question"></i>&nbsp;Forgot your password?</a>
                                                </li>
                                                
                                            </ul>
                                            
                                        </div>
                                    </li>
                                    {%endif%}
                                </ul>
                                </div>
                            </div>
                            {% endblock %}
                            {% endif %}

                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
                <div style="padding-top: 60px;" class="container">
                    {% if breadcrumb %}
                    {% block breadcrumbs %}
                    {% breadcrumb "Databases" "databases" %}
                    {% endblock %}
                    <div class="pull-left">
                        {% render_breadcrumbs %}
                    </div>
                    {% endif %}
                    <div class="pull-right">
                        {% block toolbar %} {% endblock %}
                    </div>

                        
<div style="display: none; z-index: 2000; position:fixed; bottom:20px; right: 20px;" class="alert alert-info" id="exporting-message">Databases of the current view are being exported, please wait.</div>
                    {% block content %}

                    {% endblock %}
                    
                </div>
            </div>
            <!-- END OF SUPPORTED -->
            <div class="push"></div>
        </div>
        <div class="footer" class="row" style="clear: both; text-align:center">
            <hr />
            <footer>
                {% if request.user.is_authenticated %}
                <a href="controlversion/history">History</a> ·
                {%endif%}
                <a href="feedback">Feedback</a> ·
                <a href="faq">FAQ</a> ·
                <a href="about">About</a><br />
                <p>&copy; EMIF Catalogue v{% get_version %}<br/><small id="supportability">This website is optimised to Safari, Chrome, Firefox, Opera and IE9+. <!--It runs in IE7-IE8, but it has low performance and no enhanced features.--></small></p>
            </footer>
        </div>
        <!-- /container -->
        <script src="{{ STATIC_URL }}js/main.js"></script>
        <!-- backbone -->
        {% comment %}
        <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/ICanHaz.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/json2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/underscore-min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}contrib/backbone/backbone-min.js"></script>
        {% endcomment %} 
        {% block scriptextraincludes %} 
        {% endblock %}
        <script type="text/javascript">
        {% block scriptextra %}
        {% endblock %}
        </script>
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38876251-1']);
        _gaq.push(['_trackPageview']);
        $(function(){
        if ($(".search-query").length > 0){
        $('.search-query').canclear();
        }
        });
        (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </body>
</html>

{% endwith %}
