{% extends 'base.html' %}
{% load url from future %}




{% block content%}

       <div id="contact_wrap">

        <div id="contact" class="clearfix" style="margin-left:40%">
            <div id="c_form">
                <br /><br />
                <form name="theform" action="contact" method="POST" id="theform">
                  {% csrf_token %}
                    <div id="name_email">

                        <label id="id_name">Name:</label>
                        <input type="text" name="name" value="" id="name" />
                        <label id="id_email">Email:</label>
                        <input type="text" name="email" value="" id="Email" />
                    </div><!-- end name_email -->
                    <div id="message">
                        <label id="id_message">Message:</label>
                        <textarea name="message" rows="8" cols="37"></textarea>

                    </div><!-- end message -->
                    <div id="submit">
                        <input type="submit" name="submit" value="Send" />
                    </div><!-- end submit -->
                    <input class="hidden" type="hidden" name="topic" value="Home : Contact Form Submission" id="subject" />
                </form>

            </div><!-- end c_form -->
        </div><!-- end contact -->

    </div><!-- end contact_wrap -->


{% endblock %}


