{% extends "base.html" %}
{% load extra_tags %}
{% load markup questionnaire i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "My Databases" "databases" %}
    {% breadcrumb name "fingerprint/"|add:fingerprint_id|add:"/1" %}
    {% if not readonly %}
    {% with url_id="dbEdit/1" %}
        {% with url_id=url_id|add:id  %}
            {% with url_id=url_id|add:"/1" %}
                {% breadcrumb "Edit" "databases" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
    {% else %}
    {% with url_id="dbDetailed/1" %}
        {% with url_id=url_id|add:id  %}
            {% with url_id=url_id|add:"/1" %}
                {% breadcrumb "Detailed View" "databases" %}
            {% endwith %}
        {% endwith %}
    {% endwith %}    
    {% endif %}
{% endblock %}

{% block styleextra %}

button {
    border: 1px #AAA solid;
    padding: 4px 10px;
}
.hide {
    display: none;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 0px solid #e5e5e5;
}
.accordion-heading .accordion-toggle {
display: block;
padding: 5px 15px;
}

.accordion-heading a {
color: #333;
text-decoration: none;
}

{% endblock %}


{% block toolbar %}
{% include "menu_toolbar.html" %}

{% endblock %}


{% block headextra %}
<!-- this was a duplicate import. may cause conflicts -->
<!--script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script-->
<script type="text/javascript" src="{{ STATIC_URL }}questionset.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery.errornavigator.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}progressbar.css"></script>
{% for x in jsinclude %}
<script type="text/javascript" src="{{ x }}"></script>
{% endfor %}

    {% for x in cssinclude %}
<link rel="stylesheet" href="{{ x }}" type="text/css" />
{% endfor %}

    {% if async_progress %}
<script type="text/javascript">var progress_url = "{{ async_url }}";</script>
<script type="text/javascript" src="{{ STATIC_URL }}progress.js"></script>
{% endif %}
{% endblock %}

{% block language %}
    {% for lang in LANGUAGES %}{% if not forloop.first %} |{% endif %}
<a href="{{request.path}}?lang={{ lang.0 }}">{{ lang.1 }}</a>
{% endfor %}
{% endblock %}

{% block content %}
<div style="display: none;" id="errornavigator"></div>

<div style="display: none; z-index: 2000; position:fixed; bottom:20px; right: 20px;" class="alert alert-info" id="loading-message">
Saving... please don't close this questionnary yet.</div>

<div style="margin-bottom: 60px;"></div>
<hr>
<div class="row">
<div class="span3">
  <div class="well" style="max-width: 340px; padding: 8px 0;">

    <ul class="nav nav-list nav-pills nav-stacked ">
      <li class="nav-header">Step-by-Step</li>
      {% for qs, answered, total_count, percentage in questionsets %}
     
      <li{% if questionset.text == qs.text %} class="active" {% endif %} id="li_qs_{{qs.sortid}}">
        <!--<a href="q2/{{runinfo.random}}/{{ qs.sortid }}">
        -->
        <a href="add/{{qs.questionnaire.pk}}/{{ qs.sortid }}" onclick="questionsets_handle(qs_{{ qs.sortid }}); return false;">
          <table class="fullwidth">
            <tr>
              <td style="width: 80%; font-size: 93%;">
              {% if qs.sortid != 0 and qs.sortid != 99 %}{{ qs.sortid }}. {% endif %}{{ qs.text|removeh1 }}
              {% if qs.sortid != 0 and qs.sortid != 99 %}
                <span id="counter0_{{ qs.sortid }}"> {{answered}}/{{total_count}}</span>
              {%endif%}
              </td>
              <td style="width: 10%; text-align: right;">
              {% if qs.sortid != 0 and qs.sortid != 99 %}
               <span id="counter1_{{ qs.sortid }}" class="counter_badge">{{percentage}}%</span>
               {%endif%}
   
            </td>
          </tr>
        </table>
      </a>
      
    </li>
    {% endfor %}
  </ul>

</div>
</div>
{% comment %}
{% include "fingerprint_edit.html" %}
{% endcomment %}
<div class="span8" id="set_container"></div>

</div>

{% endblock %}

{% block scriptextraincludes %} 
<script src="{{ STATIC_URL}}js/emif.fingerprint.counter.js"></script>

<!-- Fix later -->
<script src="{{ STATIC_URL}}js/vendor/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL}}js/vendor/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL}}js/fingerprint_validation.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL}}js/fingerprint.js"></script>
{% endblock %}

<script type="text/javascript">
{% block scriptextra %}

$('#li_workspace').addClass("active");


function next_questionset(id_questionset)
{

  var next = false;
  $('.questionset').each(function(i, obj) {
    console.log("obj.id: " + obj.id);
    console.log("next" + next);
    if (next==true)
    {
      questionsets_handle(obj);
      next = false;

  }
    if (obj.id==id_questionset.id)
    {
      next = true;
    }

  }

  );

}

function questionsets_handle(id_questionset)
{

    var idString = id_questionset.id
    var id = idString.split('_');

    $('#active_qs').val(id_questionset.id);
    $('#active_qs_sortid').val(id[1]);


      // First we get the previous form
      var previous_id = $('.questionset:not(.hide)').first().attr('id').split('_')[1];
      var current_form = $('#qform'+previous_id);

       // First we get the previous form
      var previous_id = $('.questionset:not(.hide)').first().attr('id').split('_')[1];
      var current_form = $('#qform'+previous_id);


      if (!(typeof errornavigator === 'undefined')) {
      errornavigator.hideErrorPage();
      errornavigator.reset();

      var list_invalid = advValidator.validateFormContext(event, current_form);
      //console.log(list_invalid);


      if(list_invalid.length == 0){

        if(formHasChanged){
          // If its not the first or last
          if(current_form.length != 0 && id[1] != '0' && id[1] != '99'){

            // Save this questionset using an ajax post
            var posting = $.post(current_form.attr("action"), current_form.serialize());

            $("#loading-message").fadeIn('fast');

            posting.done(function(data) {
              $("#loading-message").fadeOut('fast');
            });
          }
        }
        $('.questionset').each(function(i, obj) {

          if (obj.id==id_questionset.id)
          {

             $('#'+obj.id).addClass("show");
             $('#li_'+id_questionset.id).addClass("active");
             $('#'+obj.id).removeClass("hide");

             if($('#'+obj.id).find('.loadingindicator').length != 0){
              loadqspart("{{fingerprint_id}}", "{{q_id}}",obj.id.replace("qs_",""));
              console.log("Loading to dom");
             } else {
               console.log("Already on dom");
             }
          }
          else {
            $('#li_'+obj.id).removeClass("active");
            $('#'+obj.id).addClass("hide");
            $('#'+obj.id).removeClass("show");
          }
          
        }

        );
        document.body.scrollTop = document.documentElement.scrollTop = 0; 

        formHasChanged = false;   
        list_invalid = []; 

      } else {
        console.log("Jump to errors and show error navigator.");

          for(var i = 0;i<list_invalid.length;i++){
            errornavigator.addError('qc_'+list_invalid[i]);
          }
          errornavigator.showErrorPager();

          // jump to first problem
          errornavigator.nextError();

        }

      }
};
function generateStub(){
          var containers = [];

        // We build the qs containers in memory and just do dom op, on the end, for speed
        // on ie joins are significantly faster than concatenation
        {% for qs in questionset.questionnaire.questionsets %}
            containers.push('<div id="qs_{{ qs.sortid }}" class="{% if qs.sortid == questionset.sortid %} {% else %} hide {% endif %} questionset"><h4 class="loadingindicator pull-center">Loading...</h4></div>\n');
        {% endfor %}

        $('#set_container').append(containers.join(''));
}
function loadqspart(fingerprint, pk, sortid){
    
    //console.log("getting part from searchqs/"+pk+"/"+sortid+"/");
        {% if readonly %}
          $.get( "detailedqs/"+fingerprint+"/"+pk+"/"+sortid+"/", function( data ) {
            $( "#qs_"+sortid ).html( data );
          });
        {% else %}
          $.get( "editqs/"+fingerprint+"/"+pk+"/"+sortid+"/", function( data ) {
            $( "#qs_"+sortid ).html( data );
          });
        {% endif %}
        
}
var errornavigator;
$(function(){
  generateStub();  

  $('.reqfield').tooltip({container: 'body'});
  errornavigator = $('#errornavigator').errornavigator();

  loadqspart("{{fingerprint_id}}", "{{q_id}}", "{{questionset.sortid}}");

  // Clearly identify database name before the edition
  advValidator.setDatabase("{{name}}");

  initialCounterSetup();
});

//questionsets_handle(qs_0);
function initialCounterSetup(){ 
  {% for qs, answered, total_count, percentage in questionsets %}
    questionSetsCounters["{{qs.sortid}}"] = { filledQuestions: {{answered}}, count: {{total_count}} }; 

  {% endfor %}
}
    function collapseAll(element, div_id){
        if (element.text().indexOf('Collapse') !== -1) {
           console.log('Collapse all');
           element.text('Expand all');
           if (!element.hasClass('disabled')){
            element.parents().find('#'+div_id +' .collapse').each(function(index){
                $(this).addClass('in');
                $(this).collapse('hide');
            });
           }
       } else {
           console.log('Expand all');
            element.text('Collapse all');
           if (!element.hasClass('disabled')){
            element.parents().find('#'+div_id +' .collapse').each(function(index){
                $(this).removeClass('in');
                $(this).collapse('show');
            });
           }
       }
    };
{% endblock %}

</script>