{% extends 'base.html' %} 
{% load url from future %} 
{% load extra_tags %} 
{% load django_bootstrap_breadcrumbs %} 

{% block headextra %}

<script src="{{ STATIC_URL}}js/vendor/threadpool.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL}}css/database_info.css" />

{% endblock %} 

{% block breadcrumbs %} 
{{ block.super }} 
    {% if style == '1' %} 
        {% breadcrumb "Databases" "databases" %} 
        {% breadcrumb "List" "databases" %} 
    {% else %} 
        {% breadcrumb "Databases" "alldatabases" %} 
        {% breadcrumb "List" "alldatabases" %} 
    {% endif %} 
    {% breadcrumb breadcrumb_name "" %} 
{% endblock %} 

{% block toolbar %} 
    {% include "menu_toolbar.html" with collapse=collapseall %} 
{% endblock %} 

{% block content %} 
{% if qsets %}

<div class="span12">
    <div class="row-fluid">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#metadata" data-toggle="tab">Fingerprint</a>
                </li>
                <!--<li><a href="#literature" data-toggle="tab">Literature</a></li>
            <li><a href="#apiinfo" data-toggle="tab">Extra Information</a></li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="metadata">
                    <div>
                        <a id="collapseall_metadata" class="btn pull-right" href="">Expand all</a>
                    </div>
                    <div class="accordion pull-left " id="accordion1" style="margin-top: 10px;">
                        {% for k,qs in qsets.ordered_items %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ k|removespaces|safe|clean }}">{{ k|removeh1 }}
                                </a>
                            </div>
                            <div id="collapse{{ k|removespaces|safe|clean }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <table id="t2" class="table table-bordered  table-hover">
                                        <thead>

                                            <tr>
                                                <th>Tag</th>
                                                <th>Value</th>
                                                <th>Comment</th>

                                            </tr>
                                        </thead>


                                        <tbody>
                                            {% for t in qs.list_ordered_tags %}
                                            <tr>
                                                <!-- title="{{ t.tag|safe }}" -->
                                                <td title="{{ t.tag|safe }}">{{ t.tag|removehs }}
                                                </td>
                                                <td title="{{ t.value|safe }}">{{ t.value|safe }}</td>
                                                <td title="{{ t.comment|safe }}">{{ t.comment|safe }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="tab-pane" id="literature">
                    <div>
                        <a id="collapseall_literature" class="btn pull-right" href="">Expand all</a>
                    </div>
                    <div class="accordion pull-left " id="accordion2" style="margin-top: 10px;">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    Upregulation of chemokines and their receptors in Duchenne muscular dystrophy: potential for attenuation of myofiber necrosis.
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <div id="becas-widget-text" class="widget-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Upregulation of chemokines and their receptors in Duchenne muscular dystrophy: potential for attenuation of myofiber necrosis.
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <!-- Container to hold another widget -->
                                    <div id="becas-widget-pmid" class="widget-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="tab-pane" id="apiinfo">
                    <div>
                        <a id="btn_pivot_table" class="btn pull-right" href="">Pivot table</a>
                    </div>
                    <div class="span12">
                        <div id="chart" class="span4" style="display:none;"></div>

                        <div id="pivot_table_extra_information">


                        </div>

                    </div>
                    <div class="span8"></div>
                </div>

            </div>
            
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="span4">
            <div class="alert">
                <a class="close" data-dismiss="error">×</a>
                <strong>Warning!</strong>
                You don't have results.
            </div>
        </div>
    </div>
</div>
    {% endif %}

<!-- Display a message to users with Javascript deactivated -->
<noscript>
    <div style="position:absolute;top:0;left:0;width:500px;height:250px;border:2px solid #A00;padding:6px;background-color:#fff;color:#600;text-align:center">
        <h1>This page requires Javascript to function properly.</h1>

        <h2>Please follow this instructions on how to
            <a href="http://www.enable-javascript.com/" target="_blank">enable JavaScript in your web browser</a>.</h2>
    </div>
</noscript>


{% endblock %} {% block scriptextraincludes %}
<!-- Include the widget embedding script -->
<script src="//bioinformatics.ua.pt/becas/embed-widget.js"></script>
<script src="{{ STATIC_URL}}js/d3/d3.v3.min.js"></script>
<script src="{{ STATIC_URL}}js/d3/d3.layout.cloud.js"></script>
<script src="{{ STATIC_URL}}js/database_info.js"></script>

{% endblock %}

<!-- This must be here because of dynamic code -->
$(document).ready(function() {
    var json_aux = '{{apiinfo}}';
console.log("ayx" + json_aux.length);
console.log("ayx" + json_aux);
    
    if (json_aux == '' || json_aux == null || json_aux.length == 2) {
        $("#pivot_table_extra_information").html('No information available. You can add information from external applications with API web services.');
    } else {
        json_aux = json_aux.replace("/&quot;/g", "\"");
        alert(json_aux);
        json = JSON.parse(json_aux);
        //console.log(json_aux);
        //console.log(json);
        var json2 = json;
        json = json_to_d3json(json);
        json.x0 = 0;
        json.y0 = 0;
    
        update(root = json);
        $("#pivot_table_extra_information").html(json_to_table(json2));
    }
});


