{% extends 'base.html' %}
{% load extra_tags %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb "My Databases" "databases" %}

{% endblock %}

{% block styleextra %}

button {
    border: 1px #AAA solid;
    padding: 4px 10px;
}
.hide {
    display: none;
}


{% endblock %}

{% block toolbar %}
{% include "menu_toolbar.html" with collapse=collapseall %}

{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme.blue.css">
{% endblock %}



{% block scriptextraincludes %}
<script src="{{ STATIC_URL }}js/emif.databases.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery.ba-throttle-debounce.min.js"></script>
<script src="{{ STATIC_URL }}js/paginator-sorter.js"></script>
{% endblock %}



{% block content %}

{% if list_databases %}
<table class="table table-bordered table-hover fingerprint_table table-striped" id="table_databases" data-provides="rowlink">
    <thead>
        <tr>
            <!--<th class="sorter-false filter-false"></th>-->
            <th class="sorter-database_name sorter {%if "icon-minus" not in sort_params.database_name.icon %}selected-sorter{% endif %}"  onclick="a.onClick('database_name', '{{sort_params.database_name.next}}');">
            <div class="pull-left">Acronym</div>
                 <div class="pull-right"><i class="{{sort_params.database_name.icon}}"></i></div>
            </th>
            <th class="sorter-institution sorter {%if "icon-minus" not in sort_params.institution.icon %}selected-sorter{% endif %}"  onclick="a.onClick('institution', '{{sort_params.institution.next}}');">
            <div class="pull-left">Institution Name</div>
                 <div class="pull-right"><i class="{{sort_params.institution.icon}}"></i></div>
            </th>            
            <!--<th>Creation Date</th>-->            
            <th class="sorter-location sorter {%if "icon-minus" not in sort_params.location.icon %}selected-sorter{% endif %}" onclick="a.onClick('location', '{{sort_params.location.next}}');">
                <div class="pull-left">Location</div>
                <div class="pull-right"><i class="{{sort_params.location.icon}}"></i></div> 
            </th>             
            <th class="sorter-nrpatients sorter {%if "icon-minus" not in sort_params.nrpatients.icon %}selected-sorter{% endif %}" onclick="a.onClick('nrpatients', '{{sort_params.nrpatients.next}}');">
                <div class="pull-left">Nr. Patients</div>
                <div class="pull-right"><i class="{{sort_params.nrpatients.icon}}"></i></div> 
            </th>            
            <th class="sorter-lastupdate sorter {%if "icon-minus" not in sort_params.last_update.icon %}selected-sorter{% endif %}" onclick="a.onClick('last_update', '{{sort_params.last_update.next}}');">
            <div class="pull-left">Last update</div>
                <div class="pull-right"><i class="{{sort_params.last_update.icon}}"></i></div> 
            </th>
            <th class="sorter-type sorter {%if "icon-minus" not in sort_params.type.icon %}selected-sorter{% endif %}" onclick="a.onClick('type', '{{sort_params.type.next}}');">
            <div class="pull-left">Type</div>
              <div class="pull-right"><i class="{{sort_params.type.icon}}"></i></div> 
            </th>
            {% comment %}
            <th class="sorter-false filter-false">Modify</th>
            {% endcomment %}

        </tr>
        <tr>
          <td class="table_filter">
                <input class="filter_input" id="database_name_filter" type="text" value="{{sort_params.database_name.filter}}" placeholder="Filter">
          </td>
           <td class="table_filter">
                 <input class="filter_input" id="institution_filter" type="text" value="{{sort_params.institution.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="location_filter" type="text" value="{{sort_params.location.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="nrpatients_filter" type="text" value="{{sort_params.nrpatients.filter}}" placeholder="Filter">
          </td>
          <td class="table_filter">
                 <input class="filter_input" id="last_update_filter" type="text" value="{{sort_params.last_update.filter}}" placeholder="Filter">
          </td>
           <td class="table_filter">
              <select id="type_filter" class="selectpicker" def_value="{{sort_params.type.filter}}">
                <option value="">None</option>
                <option value="adcohort">AD Cohort</option>
                <option value="observationaldatasources">Observational Data Sources</option>
              </select>
          </td>
        </tr>
    </thead>
    <tbody id="table_content">
        {% for t in page_obj %}
        <tr>
            <!--<td><img class="db_logo" src="{{ STATIC_URL }}upload_images/{{t.logo}}" width="50px" height="50px" /></td>-->
          <td>
            <a href="fingerprint/{{ t.id }}/1">{{ t.name }}</a>
        </td>
        <td>{{t.institution}}</td>
        <td>{{t.location}}</td>
        <td>{{t.number_patients}}</td>
        <!--
          <td style="min-width: 120px;">
                 {{ t.date }}
        -->
          </td>
          <td class="date">
                {% if t.last_activity %}
                    {{t.last_activity|datehhmm}}
                {% else %}
                    {{ t.date }}
                {% endif %}
          </td>
          <td class="type">{{ t.type_name }} </td>
          {% comment %}
          <td style="width:100px">

            <a  href="dbEdit/{{t.id}}/{{t.ttype}}" title="Edit Database"><img src="{{ STATIC_URL }}img/glyphicons_150_edit.png"  /></a>
            <a href="#" onclick="return false;"  class="confirm-delete" data-id="{{ t.id }}" data-name="{{ t.name }}" title="Remove Database"><img src="{{ STATIC_URL }}img/glyphicons_192_circle_remove.png"/></a>
              <a href="#" onclick="return false;" class="sharedb" data-id="{{ t.id }}" title="Share Database" ><img src="{{ STATIC_URL }}img/glyphicons_308_share_alt.png"/></a>

            </td>
            {% endcomment %}


        </tr>

        {% endfor %}

    </tbody>
</table>

<script type="text/javascript">
var a;
$(document).ready(function(){
    a = new PaginatorSorter("table_databases", '{{sort_params.base_filter}}', '{{sort_params.selected_name}}', '{{sort_params.selected_value}}');
});
</script>
{% include "post_paginator.html" %}

{% else %}
<div class="row">
<div class="span4">
<div class="alert">

  <strong>Info: </strong> Currently, there are no databases in your account. You can add new ones through the option "Workspace -> Add new databases"
</div>
</div>
</div>
{% endif %}

{% comment %}
  <a class="btn btn-large btn-success" href="advancedSearch/1">Add new database</a>
{% endcomment %}
</div>
<form id="send2" method="POST" > 
  <input id="page" type="hidden" name="page" value="{{page}}"></input>
  <input id="s" type="hidden" name="s" value=""></input>  
  <input id="submit_simulate" style="display:none" type="submit" value="Submit">
 
{% csrf_token %}
</form>

<form id="send" method="POST" > 
 {% csrf_token %}
</form>


{% endblock %}

{% block scriptextra %}
{% comment %}
<script>
{% endcomment %}


{% comment %}
</script>
{% endcomment %}

{% endblock %}
