
{% extends 'base.html' %}
{% load url from future %}





{% block content %}


{% if value_list %}

<div class="span12">

<table class="table table-bordered  table-hover">
              <thead>
                <tr>
                  <th>Tag</th>
                  <th>Value</th>
                  
                </tr>
              </thead>

              <tbody>
              {% for t in value_list %}
                <tr>
                  <td>{{ t.tag }}</td>
                  <td>{{ t.value }}</td>
                  
                </tr>
                {% endfor %}

              </tbody>
            </table>
</div>
</div>


{% else %}
<div class="row">  
<div class="span4">  
<div class="alert">  
  <a class="close" data-dismiss="error">×</a>  
  <strong>Warning!</strong> You don't have results. 
</div>  
</div>  
</div>  
{% endif %}

{% endblock %}