{% extends 'base.html' %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Databases" "/databases" %}
    {% breadcrumb "List" "/databases" %}

{% endblock %}



{% block toolbar %}
{% include "menu_toolbar.html" %}

{% endblock %}

{% block content %}



{% if list_databases %}
<table class="table table-hover" id="table_databases" data-provides="rowlink">
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Date</th>
            <th>Modify</th>

        </tr>
    </thead>
    <tbody>
        
        {% for t in list_databases %}
        <tr>
          <td><a href="fingerprint/{{ t.id }}/1">{{ t.name }}</a></td>
          <td>{{ t.date }}</td>
          <td>
<!--<div style="color:red">
<i class="icon-remove " ></i></div>-->
            <a href="#"><img src="static/img/glyphicons_150_edit.png"/></a>
            <a href="#"><img src="static/img/glyphicons_192_circle_remove.png"/></a></td>
          
        </tr>

        {% endfor %}
        
        

    </tbody>
</table>

{% else %}
<div class="row">  
<div class="span4">  
<div class="alert">  
  <a class="close" data-dismiss="error">×</a>  
  <strong>Warning!</strong> You don't have results. Please add a new database, like for instance a Cohort or Observation. You can find in the menu "Workspace -> Add -> Research Cohort or Observation Study"
</div>  
</div>  
</div>  
{% endif %}

{% comment %}
  <a class="btn btn-large btn-success" href="advancedSearch/1">Add new database</a>
{% endcomment %}
</div>
{% endblock %}



{% block scriptextra %}
$('#li_workspace').addClass("active");
{% endblock %}