{% extends 'base.html' %}
{% load url from future %}




{% block content%}

<div class="row">
  <div class="span6 center">
       <div id="contact_wrap" class="rows">
        
Your feedback is highly appreciated. We want to hear your feedback and incorporate your ideas into improving and expanding what is on this catalogue.
Looking forward to your input.

        <div id="contact" class="clearfix" style="">
            <div id="c_form">
                <br /><br />
                <form name="theform" action="feedback" method="post" id="theform">
                  {% csrf_token %}
                    <div id="name_email">

                        <label id="id_name">Name:</label>
                        <input type="text" name="name" value="" id="name" />
                        <label id="id_email">Email:</label>
                        <input type="text" name="email" value="" id="Email" />
                    </div><!-- end name_email -->
                    <div id="message">
                        <label id="id_message">Message:</label>
                        <textarea  class="span6" name="message" cols="30" rows="10" ></textarea>

                    </div><!-- end message -->
                    <div id="submit">
                        

                        <button class="btn btn-primary" name="submit" type="submit">Send</button>
                    </div><!-- end submit -->
                    <input class="hidden" type="hidden" name="topic" value="EMIF Catalogue: Feedback" id="subject" />
                </form>

            </div><!-- end c_form -->
        </div><!-- end contact -->

    </div><!-- end contact_wrap -->
</div>
</div>

{% endblock %}

 {% block scriptextra %}
    {% comment %}
    <script>
        {% endcomment %}

        $('#li_feedback').addClass("active");

        {% comment %}
    </script>
    {% endcomment %}

    {% endblock %}


