{% extends 'base.html' %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}

        {% breadcrumb "Home" "home" %}
        {% breadcrumb "Feedback" "feedback" %}
        {% breadcrumb "Thank You" "" %}

{% endblock %}



{% block content%}
<div style="margin-bottom: 20px;"></div>
       <div id="contact_wrap">

        <div id="contact" class="clearfix" style="margin-left:40%">
            <div id="c_form">
                <br /><br />
               <h3>Feedback Information</h3>

<p>Thank you for giving us your feedback.</p>
<p>A copy of the feedback message was sent to your email.</p>



            </div><!-- end c_form -->
        </div><!-- end contact -->

    </div><!-- end contact_wrap -->


{% endblock %}


