{% extends 'base.html' %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}

        {% breadcrumb "Home" "home" %}
        {% breadcrumb "Feedback" "" %}

{% endblock %}

{% block content%}
<!--div style="margin-bottom: 50px;"></div-->
<div class="row">
       <div id="contact_wrap" class="rows">
             <div class="span6 center">
       <h2>Feedback</h2>
Your feedback is highly appreciated. We want to hear your feedback and incorporate your ideas into improving and expanding what is on this catalogue.
Looking forward to your input.

        <div id="contact" class="clearfix" style="">
            <div id="c_form">
                <br /><br />
                <form name="theform" action="feedback" method="post" id="theform">
                  {% csrf_token %}
                    <div id="name_email">
                        {{ form.name.errors }}
                        <label id="id_name">Name:</label>
                        {{ form.name }}
                        <!--<input type="text" name="name" value="" id="name" />-->
                        {{ form.email.errors }}
                        <label id="id_email">Email:</label>
                        {{ form.email }}
                        <!--<input type="text" name="email" value="" id="Email" />-->
                    </div><!-- end name_email -->
                    <div id="message">
                        {{ form.message.errors }}
                        <label id="id_message">Message:</label>
                        <!--<textarea  class="span6" name="message" cols="30" rows="10" ></textarea>-->
                        {{ form.message }}
                    </div><!-- end message -->
                    <div id="submit">
                        <button class="btn btn-primary" name="submit" type="submit">Send</button>
                    </div><!-- end submit -->
                    <input class="hidden" type="hidden" name="topic" value="EMIF Catalogue: Feedback" id="subject" />
                </form>

            </div><!-- end c_form -->
        </div><!-- end contact -->

    </div><!-- end contact_wrap -->
</div>
</div>

{% endblock %}

 {% block scriptextra %}
    {% comment %}
    <script>
        {% endcomment %}

        $('#li_feedback').addClass("active");

        {% comment %}
    </script>
    {% endcomment %}

    {% endblock %}


