{% load extra_tags %}
{% load markup questionnaire i18n %}
{% setglobal h1_already 0 %}
{% setglobal h1_last 0 %}
{% if not readonly %}
<form name="qform{{ questions_list.0.0.sortid }}" id="qform{{ questions_list.0.0.sortid }}" action="addPost/{{questionset.questionnaire.pk}}/1/{{questions_list.0.0.sortid}}" method="POST" enctype="multipart/form-data">
{% else %}
<div name="qform{{ questions_list.0.0.sortid }}" id="qform{{ questions_list.0.0.sortid }}">
{% endif %}
    <input type="hidden" name="active_qs" id="active_qs" value="0" />
    <input type="hidden" name="active_qs_sortid" id="active_qs_sortid" value="0" />
    <input type="hidden" name="fingerprint_id" value="{{ fingerprint_id }}" />
    {% if questions_list.0.0.sortid != 0 and questions_list.0.0.sortid != 99 %}
    <div><a id="collapseall_qs_{{ questions_list.0.0.sortid }}"  class="btn pull-right" href="#">Collapse all </a></div>
    {% endif %}
    
    <div class="questionset-title" style="font-size:6px">
        <h3>
        
        {{ questions_list.0.0.text|removeh1 }}
        <label></label>
        </h3>
    </div>
    {% if questions_list.0.0.help_text != "" %}
    <div class="clearfix qs-description">{{questions_list.0.0.help_text|safe}}</div>
    {% endif %}
    
    {% csrf_token %}
    <input type="hidden" name="questionset_id" value="{{ questionset.id }}" />
    <div class="accordion" id="accordion_{{ questions_list.0.0.sortid }}">
        {% for question, qdict in qlist %}
        {% incrementglobal iteratorQ %}
        {% with errors|dictget:question.number as error %}
        {% if question.text|geths == 'h1' %}
        <!-- If has already appear another h1 before close accordion-group -->
        {% if h1_already.value == '1' %}
    </div>
</div>
</div>
{% endif %}
<!-- Set variable h1 to accordion -->
{% setglobal h1_already 1 %}
{% setglobal h1_last 1 %}
<div class="accordion-group {{qdict.depon_class}}" id="acc_qc_{{ question.number }}" {{qdict.checkstring|safe}}>
<div class="accordion-heading">
    {% if request.user.is_staff and not readonly %}
    <span class="pull-right"> <a href="admin/questionnaire/question/{{ question.id }}/">
    <i class="icon-pencil">&nbsp;</i>
    </a></span>
    {% endif %}
    <span class="pull-right">
    <a href="#" onclick="toggle_comments('{{question.number|removedots}}'); return false;"><i class="{% if qdict.comment %} icon-comment {% else %} icon-comment-alt {% endif %}">&nbsp;</i></a>
    </span>
    <span class="pull-right answered hide " id="answered_{{ question.number|removedots }}">
    <i class="icon-check green">&nbsp;</i>
    </span>
    {% endif %}
    <div class="question type_{{ qdict.qtype }} {% if error %} error prepend-top{% endif %}{{ qdict.qnum_class }}{{ qdict.qalpha_class }} {{qdict.depon_class}}" id="qc_{{ question.number }}" {{qdict.checkstring|safe}} >
        {% if question.text|geths == 'h1' %}
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ questions_list.0.0.sortid }}" href="#div_{{ iteratorQ.value }}">
        {% endif %}
        {% if qdict.custom %}
        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}
        {% include qdict.template %}
        {% else %}
        <div class="question-text {% if qdict.required %}required{% endif %} {% if error %}text-error{% endif %} qtext_{{question.text|geths}}">
            <span class="qnumber_{{question.text|geths}}">{% if question.display_number != '0' %}{{question.display_number }}.{% endif %}</span>
            <span class="qtext">{{ question.text|removehs|safe }}
            {% if question.tooltip and question.help_text %}
            <div class="question-help-text" style="display: none;">
                <span>{{ question.help_text|safe }}</span>
            </div>
            {% endif %}
            </span> 
            {% comment %}
            {% if qdict.required %}<span title="This fields is required to be able to publish this database (and make it public)" class="reqfield lead text-error">*</span>
            {% endif %}
            {% endcomment %}
            {% if question.text|geths != 'h1' %}
            {% if request.user.is_staff and not readonly %}
            <span class="pull-right">
            <a href="admin/questionnaire/question/{{ question.id }}/">
            <i class="icon-pencil">&nbsp;</i>
            </a>
            </span>
            {% endif %}
            <span class="pull-right">
            <a href="#" onclick="toggle_comments('{{question.number|removedots}}'); return false;"><i class="{% if qdict.comment %} icon-comment {% else %} icon-comment-alt {% endif %}">&nbsp;</i></a>
            </span>
            <span class="pull-right answered hide" id="answered_{{ question.number|removedots }}">
            <i class="icon-check green">&nbsp;</i>
            </span>
            {% endif %}
        </div>
        {% if question.text|geths == 'h1' %}
        </a>
    </div>
    <div id="div_{{ iteratorQ.value }}" class="accordion-body in collapse">
        <div class="accordion-inner">
            {% endif %}
            <div class="answer qtext_{{question.text|geths}}" id="answer_{{ question.number }}">
                {% if error %}
                <div class="alert-message block-message text-error input">{{ error }}</div>
                {% endif %}
                {% if not question.tooltip and question.help_text %}
                <div class="input">{{question.help_text|safe}}</div>
                {% endif %}
                {% include qdict.template %}
                <div id="comments_{{question.number|removedots}}" style="display:none;margin-left:40px;">
                    <a href="#" class="span6" onclick="toggle_comments('{{question.number|removedots}}'); return false;"><i class="icon-comment-alt">&nbsp;</i> Comments</a>
                    <textarea style=" background-color:#EEE;color: #000;" class="span6" name="comment_question_{{ question.number }}" cols="50" rows="5">{{qdict.comment}}</textarea>
                </div>
            </div>
            {% endif %}
            {% if question.footer %}
            <div class="question-footer">
                {{ question.footer|textile }}
                <div class="clearfix"></div>
            </div>
            {% endif %}
            </div> <!-- /question container -->
            {% endwith %}
            {% endfor %}
            {% if h1_last.value == '1' %}
        </div>
    </div>
</div>
{% endif %}

</div>  <!-- div accordion2 -->
<!--{% if questions_list.0.0.sortid != 99 and questions_list.0.0.sortid != 0%}-->
<!--<span>* Required</span>-->
<!--{% endif  %}-->
<div class="well questionset-submit">
    <!-- Previous | Next buttons -->
    <div class="span5 text-center">
        <!-- If Questionset is not the first (Introduction) or the final (Thank you) -->
        {% if questions_list.0.0.prev %}
        <a href="add/{{ questionset.questionnaire.pk }}/{{ questions_list.0.0.prev.sortid }}" class="btn large primary" onclick="questionsets_handle(qs_{{ questions_list.0.0.prev.sortid }});  return false;">{% trans "Previous" %}</a>
        {% endif %}
        {% if questions_list.0.0.prev and questions_list.0.0.next %}
        {% endif %}
        {% if questions_list.0.0.next %}
        <a href="add/{{ questionset.questionnaire.pk }}/{{ questions_list.0.0.next.sortid }}" class="btn large primary" onclick="questionsets_handle(qs_{{ questions_list.0.0.next.sortid }});  return false;">{% trans "Next" %}</a>
        {% endif %}
        <!-- First Questionset - Introduction -->
    </div>
    <div class="span2 text-right">
        {% if not readonly %}
            {% if questions_list.0.0.sortid != 0 %}
            <input class="btn large btn-primary" name="submit" type="submit" value="{% trans 'Save' %}"/>
            {% endif %}
            {% if questions_list.0.0.sortid == 0 %}
            {% endif %}
            <!-- Last Questionset - Thank You -->
            {% if questions_list.0.0.sortid == 99 %}
            <!--<input class="btn large btn-primary" name="submit" type="submit" value="{% trans 'Save' %}" />-->
            {% endif %}
        {% endif %}
    </div>
</div>
{% if not readonly %}
</form>
{%else %}
</div>
{% endif %}

<script type="text/javascript">
{% block scriptextra %}
function add_triggers{{ questions_list.0.0.sortid }}() {
console.log('Adding triggers for qs {{ questions_list.0.0.sortid }}');
{% for trigger in triggers %}
addtrigger("{{trigger}}");
{% endfor %}

{% for k,v in qvalues.items %}
qvalues['question_{{ k|escapejs }}'] = '{{ v|escapejs }}';
{% endfor %}

    /* qvalues is supposed to give us the parents that open the childs ??*/
    for(key in qvalues) {
    valchanged(key, qvalues[key], this);
    }      
}

$(function(){
tabindexer();

edit_db_option_enforce();

});

function tabindexer(){
var index=1;
$('input').each(function(){
$(this).attr('tabindex',index++);
});
}

function toggle_comments(question_number)
{
console.log("q + "+ question_number);
$("#comments_"+question_number).toggle();
}
function validate(question_number)
{
//console.log($('#'+question_number).val());
question_number = question_number + "";
question_number = question_number.replace(".","\\.");
$.getJSON('api/validate?name='+$('#'+question_number).val(), function(data) {
var items = [];
//console.log(data['contains']);
if (data['contains'] == true)
{
$('#warning_'+question_number).addClass("show");
$('#warning_'+question_number).removeClass("hide");
$('#success_'+question_number).addClass("hide");
$('#success_'+question_number).removeClass("show");
} else {
$('#warning_'+question_number).addClass("hide");
$('#warning_'+question_number).removeClass("show");
$('#success_'+question_number).addClass("show");
$('#success_'+question_number).removeClass("hide");
}

});
}
help_text_popover();
{% for k, qlist in questions_list %}
{% if k.sortid != 0 and k.sortid != 99 %}
$("#collapseall_qs_{{ k.sortid }}").bind('click', function (e) {
//        console.log('Collapse all');
e.preventDefault();
e.stopPropagation();
var div_id = 'accordion_{{ k.sortid }}';
collapseAll($("#collapseall_qs_{{ k.sortid }}"), div_id);
});

{% endif %}
{% endfor %}
$(function(){
    add_triggers{{ questions_list.0.0.sortid }}();
    setsaveqs("qform{{ questions_list.0.0.sortid }}");
});


{% endblock %}
</script>