
{% load extra_tags %}
{% load markup questionnaire i18n %}

<div class="span8">
    <form name="qform" id="qform" action="addPost/{{questionset.questionnaire.pk}}/1" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="active_qs" id="active_qs" value="0">
        <input type="hidden" name="active_qs_sortid" id="active_qs_sortid" value="0">
        <input type="hidden" name="fingerprint_id" value="{{ fingerprint_id }}">

    {% setglobal iteratorQ 0 %}
    {% for k, qlist in questions_list %}

        {% setglobal h1_already 0 %}
        {% setglobal h1_last 0 %}


    <div id="qs_{{ k.sortid }}" class="{% if k.sortid == questionset.sortid %} {% else %} hide {% endif %} questionset">

    {% if k.sortid != 0 and k.sortid != 99 %}
        <div><a id="collapseall_qs_{{ k.sortid }}"  class="btn pull-right" href="">Expand all </a></div>
    {% endif %}

    <div class="questionset-title" style="font-size:6px">
    <h3>{{ k.text|removeh1 }}</h3>

    </div>


        {% csrf_token %}

        <input type="hidden" name="questionset_id" value="{{ questionset.id }}">

        <div class="accordion" id="accordion_{{ k.sortid }}">

        {% for question, qdict in qlist %}

            {% incrementglobal iteratorQ %}

            {% with errors|dictget:question.number as error %}

                {% if question.text|geths == 'h1' %}

                    <!-- If has already appear another h1 before close accordion-group -->
                    {% if h1_already.value == '1' %}

                        </div>
                        </div>
                        </div>

                    {% endif %}

                    <!-- Set variable h1 to accordion -->
                    {% setglobal h1_already 1 %}
                    {% setglobal h1_last 1 %}

                    <div class="accordion-group {{qdict.depon_class}}" id="acc_qc_{{ question.number }}" {{qdict.checkstring|safe}}>
                        <div class="accordion-heading">
                            {% if request.user.is_staff %}
                                <span class="pull-right"> <a href="admin/questionnaire/question/{{ question.id }}/">
                                    <i class="fa fa-pencil-square-o">&nbsp;</i>
                                </a></span>
                            {% endif %}
                            <span class="pull-right">
                                <a href="" onclick="toggle_comments({{question.number|removedots}}); return false;"><i class="fa fa-comment">&nbsp;</i></a>
                            </span>
                            <span class="pull-right answered hide" id="answered_{{ question.number|removedots }}">
                                <i class="fa fa-check-square-o fa-green">&nbsp;</i>
                            </span>

                {% endif %}

                        <div class="question type_{{ qdict.qtype }} {% if error %} error prepend-top{% endif %}{{ qdict.qnum_class }}{{ qdict.qalpha_class }} {{qdict.depon_class}}" id="qc_{{ question.number }}" {{qdict.checkstring|safe}} >
                            {% if question.text|geths == 'h1' %}
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ k.sortid }}" href="#div_{{ iteratorQ.value }}">
                            {% endif %}
                            {% if qdict.custom %}
                                {% if error %}
                                    <div class="error">
                                        {{ error }}
                                    </div>
                                {% endif %}
                                {% include qdict.template %}


                            {% else %}
                                <div class="question-text {% if qdict.required %}required{% endif %} {% if error %}text-error{% endif %} qtext_{{question.text|geths}}">
                                    <span class="qnumber_{{question.text|geths}}">{{ question.display_number }}.</span>
                                    <span class="qtext">{{ question.text|safe|removehs }}
                                    {% if question.help_text %}
                                    <div class="question-help-text" style="display: none;">
                                        <span>{{ question.help_text|safe }}</span>
                                    </div>

                                {% endif %}
                                   </span>
                                {% if question.text|geths != 'h1' %}
                                    {% if request.user.is_staff %}
                                    <span class="pull-right">
                                        <a href="admin/questionnaire/question/{{ question.id }}/">
                                            <i class="fa fa-pencil-square-o">&nbsp;</i>
                                        </a>
                                    </span>
                                    {% endif %}
                                    <span class="pull-right">
                                        <a href="" onclick="toggle_comments({{question.number|removedots}}); return false;"><i class="fa fa-comment">&nbsp;</i></a>
                                    </span>
                                    <span class="pull-right answered hide" id="answered_{{ question.number|removedots }}">
                                        <i class="fa fa-check-square-o fa-green">&nbsp;</i>
                                    </span>
                                {% endif %}
                                </div>
                                {% if question.text|geths == 'h1' %}

                                    </a>
                            </div>
                                    <div id="div_{{ iteratorQ.value }}" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                 {% endif %}
                                <div class="answer qtext_{{question.text|geths}}" id="answer_{{ question.number }}">
                                    {% if error %}
                                        <div class="alert-message block-message text-error input">{{ error }}</div>
                                    {% endif %}
                                    {% include qdict.template %}
                                    <div id="comments_{{question.number|removedots}}" style="display:none;margin-left:40px;">
                                     <a href="" class="span6" onclick="toggle_comments({{question.number|removedots}}); return false;"><i class="fa fa-comment">&nbsp;</i> Comments</a>
                                    <textarea style=" background-color:#EEE;color: #000;" class="span6" name="comment_question_{{ question.number|removedots }}" cols="50" rows="5">{{qdict.comment}}</textarea>
                                    </div>
                                </div>
                            {% endif %}

                        {% if question.footer %}
                            <div class="question-footer">
                                {{ question.footer|textile }}
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}

                        </div> <!-- /question container -->

            {% endwith %}

        {% endfor %}

        {% if h1_last.value == '1' %}
                </div>
                </div>
            </div>

        {% endif %}

        </div>  <!-- div accordion2 -->


        <!--{% if k.sortid != 99 and k.sortid != 0%}-->
            <!--<span>* Required</span>-->
        <!--{% endif  %}-->

        <div class="well questionset-submit">
            <!-- Previous | Next buttons -->
            <div class="span5 text-center">
            <!-- If Questionset is not the first (Introduction) or the final (Thank you) -->

                {% if k.prev %}
                    <a href="add/{{ questionset.questionnaire.pk }}/{{ k.prev.sortid }}" class="btn large primary" onclick="questionsets_handle(qs_{{ k.prev.sortid }});  return false;">{% trans "Previous" %}</a>
                {% endif %}
                {% if k.prev and k.next %}

                {% endif %}
                {% if k.next %}
                    <a href="add/{{ questionset.questionnaire.pk }}/{{ k.next.sortid }}" class="btn large primary" onclick="questionsets_handle(qs_{{ k.next.sortid }});  return false;">{% trans "Next" %}</a>
                {% endif %}




                <!-- First Questionset - Introduction -->

            </div>
            <div class="span2 text-right">
                {% if k.sortid != 0 %}
                    <input class="btn large btn-primary" name="submit" type="submit" value="{% trans 'Save' %}" />
                {% endif %}
                {% if k.sortid == 0 %}
                {% endif %}
                    <!-- Last Questionset - Thank You -->
                {% if k.sortid == 99 %}
                    <!--<input class="btn large btn-primary" name="submit" type="submit" value="{% trans 'Save' %}" />-->
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </form>

</div>

<!-- Fix later -->
<script src="static/js/vendor/bootstrap-tooltip.js"></script>
<script src="static/js/vendor/bootstrap-popover.js"></script>
<script src="static/js/fingerprint.js"></script>

<script type="text/javascript">

    {% block scriptextra %}

function toggle_comments(question_number)
{
    console.log("q + "+ question_number);
    $("#comments_"+question_number).toggle();
}

function validate(question_number)
{
    //console.log($('#'+question_number).val());
    question_number = question_number + "";
    question_number = question_number.replace(".","\\.");
    $.getJSON('api/validate?name='+$('#'+question_number).val(), function(data) {
      var items = [];
      console.log(data['contains'])
      if (data['contains'] == true)
      {
        $('#warning_'+question_number).addClass("show");
        $('#warning_'+question_number).removeClass("hide");
        $('#success_'+question_number).addClass("hide");
        $('#success_'+question_number).removeClass("show");


      } else {
        $('#warning_'+question_number).addClass("hide");
        $('#warning_'+question_number).removeClass("show");
        $('#success_'+question_number).addClass("show");
        $('#success_'+question_number).removeClass("hide");
      }
      
    });
    


};

    help_text_popover();

    {% for k, qlist in questions_list %}
        {% if k.sortid != 0 and k.sortid != 99 %}
    $("#collapseall_qs_{{ k.sortid }}").bind('click', function (e) {
//        console.log('Collapse all');
        e.preventDefault();
        e.stopPropagation();

       var div_id = 'accordion_{{ k.sortid }}';
       collapseAll($("#collapseall_qs_{{ k.sortid }}"), div_id);

       });

        {% endif %}
        {% endfor %}

    function collapseAll(element, div_id){
        if (element.text().indexOf('Collapse') !== -1) {
           console.log('Collapse all');
           element.text('Expand all');
           if (!element.hasClass('disabled')){
            element.parents().find('#'+div_id +' .collapse').each(function(index){
                $(this).addClass('in');
                $(this).collapse('hide');
            });
           }
       } else {
           console.log('Expand all');
            element.text('Collapse all');
           if (!element.hasClass('disabled')){
            element.parents().find('#'+div_id +' .collapse').each(function(index){
                $(this).removeClass('in');
                $(this).collapse('show');
            });
           }
       }
    };

{% endblock %}
</script>