{% load extra_tags %}
{% load markup questionnaire i18n %}
{% for k,qs in qset.ordered_items %}
			<table id="t2_{{qs.sortid}}" class="table table-bordered  table-hover">
				<thead>
					<tr>
						<th>Tag</th>
						<th>Value</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					{% for t in qs.list_ordered_tags %}
					<tr>
						<!-- title="{{ t.tag|safe }}" -->
						<td class="tooltippable" title="{{ t.tag|safe|removehs }}">{{ t.tag|removehs }}</td>
						<td class="tooltippable" title="{{ t.value|safe }}">{{ t.value|safe }}</td>
						<td class="tooltippable" title="{{ t.comment|safe }}">{{ t.comment|safe }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
<script type="text/javascript">
	addTooltip('#t2_{{qs.sortid}}');
	// Add highlighting
	{% if request.session.query and not isAdvanced %}
		{% for word in request.session.query|whitespacesplit %}
			$('#set_container, .tooltip').highlight('{{word}}');
		{% endfor %}
	{% endif %}
	
</script>
{% endfor %}
