
{% load extra_tags %}
{% load markup questionnaire i18n %}


<div class="span8">
    <form name="qform" id="qform" action="addPost/{{questionset.questionnaire.pk}}/1" method="POST" enctype="multipart/form-data">
    {% for k, qlist in questions_list %}

    <div id="qs_{{ k.sortid }}" class="{% if k.sortid == questionset.sortid %} {% else %} hide {% endif %} questionset">
    {% if k.sortid == questionset.sortid %}
        <input type="hidden" name="active_qs" value="{{ k.pk }}">
        <input type="hidden" name="active_qs_sortid" value="{{ k.sortid }}">
        <input type="hidden" name="fingerprint_id" value="{{ fingerprint_id }}">
    {% endif %}
    <div class="questionset-title" style="font-size:6px">
    <h3>{{ k.text|removeh1 }}</h3>
    </div>

        {% csrf_token %}

        <input type="hidden" name="questionset_id" value="{{ questionset.id }}">
    
        {% for question, qdict in qlist %}

        {% with errors|dictget:question.number as error %}

            <div class="question type_{{ qdict.qtype }} {% if error %} error prepend-top{% endif %}{{ qdict.qnum_class }}{{ qdict.qalpha_class }}" id="qc_{{ question.number }}" {{qdict.checkstring|safe}}>                
                {% if request.user.is_staff %}
                    <span class="pull-right">
                        <a href="admin/questionnaire/question/{{ question.id }}/">
                            ({% trans "edit" %} {{ question.number }})
                        </a>
                    </span>
                {% endif %}
                    
                {% if qdict.custom %}
                    {% if error %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endif %}
                    {% include qdict.template %}
                {% else %}
                    <div class="question-text {% if qdict.required %}required{% endif %} {% if error %}text-error{% endif %}">
                        <span class="qnumber">{{ question.display_number }}.</span>
                        <span class="qtext">{{ question.text|safe }}
                        {% if question.help_text %}
                        <div class="question-help-text" style="display: none;">
                            <span>{{ question.help_text|safe }}</span>
                        </div>

                    {% endif %}
                            </span>
                    </div>

                    <div class="answer">
                        {% if error %}
                            <div class="alert-message block-message text-error input">{{ error }}</div>
                        {% endif %}
                        {% include qdict.template %}
                    </div>
                {% endif %}


            </div> <!-- /question container -->

            {% if question.footer %}
                <div class="question-footer">
                    {{ question.footer|textile }}
                    <div class="clearfix"></div>
                </div>
            {% endif %}
        {% endwith %}


        {% endfor %}

        {% if k.sortid != 99 and k.sortid != 0%}
            <span>* Required</span>
        {% endif  %}

            <div style="text-align: center;" class="well questionset-submit">
                <input class="btn large primary" name="submit" type="submit"
                {% if k.sortid == 99 %} 
                onclick="javascript:window.location.href='databases';return false;" value="{% trans "Show databases" %}"
                {% else %}
                 value="{% trans "Continue" %}"
                {% endif %}
                >
                  
            </div>
            
            {% if questionset.prev %}
                <a class="back-link pull-left" href="javascript:history.back();">{% trans "return to previous page" %}</a>
            {% endif %}

    
    </div>
    {% endfor %}
    </form>

</div>

<!-- Fix later -->
<script src="static/js/vendor/bootstrap-tooltip.js"></script>
<script src="static/js/vendor/bootstrap-popover.js"></script>
<script src="static/js/fingerprint.js"></script>

<script type="text/javascript">

    {% block scriptextra %}
function validate(question_number)
{
    //console.log($('#'+question_number).val());

    $.getJSON('api/validate?name='+$('#'+question_number.replace(".","\\.").val()), function(data) {
      var items = [];
      console.log(data['contains'])
      if (data['contains'] == true)
      {
        $('#warning_'+question_number).addClass("show");
        $('#warning_'+question_number).removeClass("hide");
        $('#success_'+question_number).addClass("hide");
        $('#success_'+question_number).removeClass("show");


      } else {
        $('#warning_'+question_number).addClass("hide");
        $('#warning_'+question_number).removeClass("show");
        $('#success_'+question_number).addClass("show");
        $('#success_'+question_number).removeClass("hide");
      }
      
    });
    


};

    help_text_popover();

    {% endblock %}
</script>


