{% load extra_tags %}
{% load markup questionnaire i18n %}
{% for k,qs in qset.ordered_items %}
			<table id="t2_{{qs.sortid}}" class="table table-bordered  table-hover">
				<thead>
					<tr>
						<th>Tag</th>
						<th>Value</th>
						<!--th class="commented"><i class="icon-comment"></i></th-->
					</tr>
				</thead>
				<tbody>
					{% for t in qs.list_ordered_tags %}
					<tr>
						<!-- title="{{ t.tag|safe }}" -->
						<td title="{{ t.tag|removehs|safe }}">{{ t.tag|removehs|safe }}</td>
						{% if t.ttype|captioned %}
						<td title="{{ t.value|force_escape }}">{{ t.value|safe }}
						{% else %}
						<td>{{ t.value|safe }}
						{% endif %}
						<div class="pull-right">
							{% if not t.comment|safe == None and not t.comment|safe == "" %}
							<i class="comment_button icon-comment" data-container="body" data-toggle="popover" data-placement="left" data-title="Comment" data-content="{{ t.comment|safe }}"></i>
							{% endif %}
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
<script type="text/javascript">
	addTooltip('#t2_{{qs.sortid}}');
	// Add highlighting
	/*{% if request.session.query and not isAdvanced %}

		{% for word in request.session.query|whitespacesplit %}
			$('#set_container, .tooltip').highlight('{{word}}');
		{% endfor %}
	{% endif %}*/
  /*$('.comment_button', '#t2_{{qs.sortid}}').click(function(){
  	$(this).parent().find('.comment_text').toggle('fast');
  });*/
	$('.comment_button', '#t2_{{qs.sortid}}').popover({trigger: 'hover', html: true});
</script>
{% endfor %}
