
{% load extra_tags %}
{% load markup questionnaire i18n %}

                    <!-- Set variable h1 to accordion -->
                    {% setglobal h1_already 1 %}
                    {% setglobal h1_last 1 %}
        <div class="well">
            <!-- Previous | Next buttons -->
            <div class="span5 text-center">
            <!-- If Questionset is not the first (Introduction) or the final (Thank you) -->

                {% if questions_list.0.0.prev %}
                    <a href="add/{{ questionset.questionnaire.pk }}/{{ questions_list.0.0.prev.sortid }}" class="btn large primary" onclick="questionsets_handle(qs_{{ questions_list.0.0.prev.sortid }});  return false;"><i class="icon-chevron-left"></i> &nbsp;{% trans "Previous" %}</a>
                {% endif %}
                {% if questions_list.0.0.prev and questions_list.0.0.next %}

                {% endif %}
                {% if questions_list.0.0.next and questions_list.0.0.next.sortid != 99 %}
                    <a href="advancedSearch/{{ questionset.questionnaire.pk }}/{{ questions_list.0.0.next.sortid }}" class="btn large primary" onclick="questionsets_handle(qs_{{ questions_list.0.0.next.sortid }});  return false;">{% trans "Next" %} &nbsp;<i class="icon-chevron-right"></i></a>
                {% endif %}


                <!-- First Questionset - Introduction -->

            </div>
            <div class="span2 text-right">
                {% if questions_list.0.0.sortid != 0 %}
                    <!--input type="submit" class="search_button btn btn-inverse" value="Search" -->
                    <button type="submit" class="btn btn-primary">
                      <i class="icon-search icon-white"></i> &nbsp;Search
                    </button>
                {% endif %}
                {% if questions_list.0.0.sortid == 0 %}
                {% endif %}
                    <!-- Last Questionset - Thank You -->
                {% if questions_list.0.0.sortid == 99 %}
                    <!--<input class="btn large btn-primary" name="submit" type="submit" value="{% trans 'Save' %}" />-->

                {% endif %}
            </div>    
        </div>    

    {% if questions_list.0.0.sortid != 0 and questions_list.0.0.sortid != 99 %}
        <div><a id="collapseall_qs_{{ questions_list.0.0.sortid }}"  class="btn pull-right" href="">Collapse all </a></div>
    {% endif %}

    
    <div class="questionset-title" style="font-size:6px">
    <h3>
    
    {{ questions_list.0.0.text|removeh1 }}

    </h3>
    </div>

    {% if questions_list.0.0.help_text != "" %}
    <div class="clearfix">{{questions_list.0.0.help_text|safe}}</div>
    {% endif %}
        


        {% csrf_token %}

        <input type="hidden" name="questionset_id" value="{{ questionset.id }}">

        {% for question, qdict in qlist %}

            {% incrementglobal iteratorQ %}

            {% with errors|dictget:question.number as error %}

                {% if question.text|geths == 'h1' %}

                    <!-- If has already appear another h1 before close accordion-group -->
                    {% if h1_already.value == '1' %}

                       </div>
                        </div>
                        </div>

                    {% endif %}
                    <!-- missing accordio here -->
                    <div class="accordion" id="accordion_{{ questions_list.0.0.sortid }}">
                    <div class="accordion-group {{qdict.depon_class}}" id="acc_qc_{{ question.number }}" {{qdict.checkstring|safe}}>
                        <div class="accordion-heading">
                            {% if request.user.is_staff %}
                                <span class="pull-right"> <a href="admin/questionnaire/question/{{ question.id }}/">
                                    <i class="icon-pencil">&nbsp;</i>
                                </a></span>
                            {% endif %}
                            <span class="pull-right">
                                <a href="" onclick="toggle_comments('{{question.number|removedots}}'); return false;"><i class="{% if qdict.comment %} icon-comment {% else %} icon-comment-alt {% endif %}">&nbsp;</i></a>
                            </span>
                            <span class="pull-right answered hide" id="answered_{{ question.number|removedots }}">
                                <i class="icon-check green">&nbsp;</i>
                            </span>

                {% endif %}

                        <div class="question type_{{ qdict.qtype }} {% if error %} error prepend-top{% endif %}{{ qdict.qnum_class }}{{ qdict.qalpha_class }} {{qdict.depon_class}}" id="qc_{{ question.number }}" {{qdict.checkstring|safe}} >
                            {% if question.text|geths == 'h1' %}
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ k.sortid }}" href="#div_{{ iteratorQ.value }}">
                            {% endif %}
                            {% if qdict.custom %}
                                {% if error %}
                                    <div class="error">
                                        {{ error }}
                                    </div>
                                {% endif %}
                                {% include qdict.template %}


                            {% else %}
                                <div class="question-text {% if qdict.required %}required{% endif %} {% if error %}text-error{% endif %} qtext_{{question.text|geths}}">
                                    <span id="question_nr_{{question.number|removedots}}" class="qnumber_{{question.text|geths}}">{{ question.display_number }}.</span>
                                    <span id="question_{{question.number|removedots}}" class="qtext">{{ question.text|removehs|safe}}
                                    {% if question.tooltip and question.help_text %}
                                    <div class="question-help-text" style="display: none;">
                                        <span>{{ question.help_text|safe }}</span>
                                    </div>

                                {% endif %}
                                   </span>
                                {% if question.text|geths != 'h1' %}
                                    {% if request.user.is_staff %}
                                    <span class="pull-right">
                                        <a href="admin/questionnaire/question/{{ question.id }}/">
                                            <i class="icon-pencil">&nbsp;</i>
                                        </a>
                                    </span>
                                    {% endif %}
                                    <span class="pull-right">
                                        <a href="" onclick="toggle_comments('{{question.number|removedots}}'); return false;"><i class="fa {% if qdict.comment %} icon-comment {% else %} icon-comment-alt {% endif %}">&nbsp;</i></a>
                                    </span>
                                    <span class="pull-right answered hide" id="answered_{{ question.number|removedots }}">
                                        <i class="icon-check green">&nbsp;</i>
                                    </span>
                                {% endif %}
                                </div>
                                {% if question.text|geths == 'h1' %}

                                    </a>
                            </div>
                                    <div id="div_{{ iteratorQ.value }}" class="accordion-body in collapse">
                                        <div class="accordion-inner">
                                 {% endif %}
                                <div class="answer qtext_{{question.text|geths}}" id="answer_{{ question.number }}">
                                    {% if error %}
                                        <div class="alert-message block-message text-error input">{{ error }}</div>
                                    {% endif %}
                                    {% if not question.tooltip and question.help_text %}
                                        <div class="input">{{question.help_text|safe}}</div>
                                    {% endif %} 
                                    {% include qdict.template %}                                      
                                    
                                    <div id="comments_{{question.number|removedots}}" style="display:none;margin-left:40px;">
                                     <a href="" class="span6" onclick="toggle_comments('{{question.number|removedots}}'); return false;"><i class="icon-comment-alt">&nbsp;</i> Comments</a>
                                    <textarea style=" background-color:#EEE;color: #000;" class="span6" name="comment_question_{{ question.number }}" cols="50" rows="5">{{qdict.comment}}</textarea>
                                    </div>
                                </div>
                            {% endif %}

                        {% if question.footer %}
                            <div class="question-footer">
                                {{ question.footer|textile }}
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}

                        </div> <!-- /question container -->
            {% endwith %}

        {% endfor %} 
        <div class="well questionset-submit">
            <!-- Previous | Next buttons -->
            <div class="span5 text-center">
            <!-- If Questionset is not the first (Introduction) or the final (Thank you) -->

                {% if questions_list.0.0.prev %}
                    <a href="add/{{ questionset.questionnaire.pk }}/{{ questions_list.0.0.prev.sortid }}" class="btn large primary" onclick="questionsets_handle(qs_{{ questions_list.0.0.prev.sortid }});  return false;"><i class="icon-chevron-left"></i>&nbsp; {% trans "Previous" %}</a>
                {% endif %}
                {% if questions_list.0.0.prev and questions_list.0.0.next %}

                {% endif %}
                {% if questions_list.0.0.next and questions_list.0.0.next.sortid != 99 %}
                    <a href="advancedSearch/{{ questionset.questionnaire.pk }}/{{ questions_list.0.0.next.sortid }}" class="btn large primary" onclick="questionsets_handle(qs_{{ questions_list.0.0.next.sortid }});  return false;">{% trans "Next" %} &nbsp;<i class="icon-chevron-right"></i></a>
                {% endif %}


                <!-- First Questionset - Introduction -->

            </div>
            <div class="span2 text-right">
                {% if questions_list.0.0.sortid != 0 %}
                    <!--input type="submit" class="search_button btn btn-inverse" value="Search" -->
                    <button type="submit" class="btn btn-primary">
                      <i class="icon-search icon-white"></i> &nbsp;Search
                    </button>
                {% endif %}
                {% if questions_list.0.0.sortid == 0 %}
                {% endif %}
                    <!-- Last Questionset - Thank You -->
                {% if questions_list.0.0.sortid == 99 %}
                    <!--<input class="btn large btn-primary" name="submit" type="submit" value="{% trans 'Save' %}" />-->
                {% endif %}
            </div>    
        </div>                                        
<script type="text/javascript">

    {% block scriptextra %}
function add_triggers() {
            
            {% for trigger in triggers %}
                addtrigger("{{trigger}}");
            {% endfor %}
            
            {% for k,v in qvalues.items %}
                qvalues['{{ k|escapejs }}'] = '{{ v|escapejs }}';
            {% endfor %}
            
            for(key in qvalues) {
                initialvalchanged(key, qvalues[key], this);
            }
            
}
             
$(function(){
    tabindexer();
});    
    
function tabindexer(){
    var index=1;
    $('input').each(function(){
        $(this).attr('tabindex',index++);
    });
}    
    
function toggle_comments(question_number)
{
    console.log("q + "+ question_number);
    $("#comments_"+question_number).toggle();
}

function validate(question_number)
{
    //console.log($('#'+question_number).val());
    question_number = question_number + "";
    question_number = question_number.replace(".","\\.");
    $.getJSON('api/validate?name='+$('#'+question_number).val(), function(data) {
      var items = [];
      //console.log(data['contains']);
      if (data['contains'] == true)
      {
        $('#warning_'+question_number).addClass("show");
        $('#warning_'+question_number).removeClass("hide");
        $('#success_'+question_number).addClass("hide");
        $('#success_'+question_number).removeClass("show");


      } else {
        $('#warning_'+question_number).addClass("hide");
        $('#warning_'+question_number).removeClass("show");
        $('#success_'+question_number).addClass("show");
        $('#success_'+question_number).removeClass("hide");
      }
      
    });
    


}

    help_text_popover();

    {% for k, qlist in questions_list %}
        {% if k.sortid != 0 and k.sortid != 99 %}
    $("#collapseall_qs_{{ k.sortid }}").bind('click', function (e) {
//        console.log('Collapse all');
        e.preventDefault();
        e.stopPropagation();

       var div_id = 'accordion_{{ k.sortid }}';
       collapseAll($("#collapseall_qs_{{ k.sortid }}"), div_id);

       });
         
        {% endif %}
        {% endfor %}

add_triggers();

{% endblock %}
</script>
