{% extends 'base.html' %}
{% load url from future %}
{% load extra_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}

{% breadcrumb "Databases" "alldatabases" %}
{% breadcrumb "Geolocation" "" %}

{% endblock %}

{% block scriptextraincludes %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">


var map;
function initialize(list_cities) {
	var latlng = new google.maps.LatLng(40, -8);
	var myOptions = {
		zoom: 3,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
	
	
	$(list_cities).each(function(city_tmp)
	{
                        var marker = new google.maps.Marker({
                                                map: map,
                                                position: new google.maps.LatLng(list_cities[city_tmp].split(", ")[0], list_cities[city_tmp].split(", ")[1]),
                                                title: ''
                                        });	
	});

}

var list_cities_aux = []
{% for lat in lats_longs %}

list_cities_aux.push('{{lat}}')

{% endfor %}


load_map = function(list_cities)
{
	initialize(list_cities);
}

$(document).ready(load_map.bind(window,list_cities_aux));




</script>

{% endblock %}

{% comment %}
<script type="text/javascript" >
{% endcomment %}

{% block scriptextra %}


{% endblock %}


{% comment %}
</script>
{% endcomment %}



{% block styleextra %}
  #map_canvas { width: 100%; height: 600px; }
{% endblock %}


{% block content %}
<div id="map_canvas"></div>
{% endblock %}

