{% extends 'base.html' %}
{% load url from future %}
{% load extra_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}

{% if search_old %}
    {% breadcrumb "Search" "resultsdiff/1" %} 
{% elif request.session.list_origin == 'personal' %} 
    {% breadcrumb "Personal" "databases" %} 
{% else %} 
    {% breadcrumb "All" "alldatabases" %} 
{% endif %}

{% if search_old and not isAdvanced %}
{% breadcrumb "Geolocation ("|add:search_old|add:")" "" %}
{% else %}
{% breadcrumb "Geolocation" "" %}
{% endif %}
{% endblock %}

{% block uncompressed_js %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block scriptextraincludes %}
<link rel="stylesheet"  href="{{STATIC_URL}}css/emif.geo.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/jquery.boolrelwidget.css"></script>
<script src="{{ STATIC_URL}}js/vendor/jquery.boolrelwidget.js"></script>

<script type="text/javascript">
var infowindow = new google.maps.InfoWindow();


                function clean(x){
                    if (x== undefined) {
                        return 'not defined yet';
                    } 
                    return x;
                }

                function renderPopup(zone){
                    var contentHTML = "";

                    contentHTML += '<h4>';
                    contentHTML += '<a href="fingerprint/'+zone.id + '/1">' + clean(zone.name) + '</a>';
                    contentHTML += '</h4>';

                
                    contentHTML += '<div class="organization-address">';
                    //if (_db.institution !='')
                        contentHTML += 'Institution name: <b>' + clean(zone.institution) + '</b><br/>';
                    //if (_db.contact !='')
                        contentHTML += 'Contact: <b>' + clean(zone.contact) + '</b><br/>';
                    //if (_db.ttype !='')
                        contentHTML += 'DB Type: <b>' + clean(zone.ttype) + '</b><br/>';
                    //if (_db.number_patients !='')
                    contentHTML += 'Number of patients: <b>' + clean(zone.number_patients) + '</b><br/>';
                
                //# Administrative
                //if(!(_db.admin_name =='' && _db.admin_address =='' && _db.admin_email=='' && _db.admin_phone =='')){
                    contentHTML += '<div class="geo-well well">';
                    contentHTML += '<div class="row">';
                    //if (_db.admin_name !='')
                    contentHTML += '<i class="icon-user icon"></i> Administrative contact: <b>' + clean(zone.admin_name) + '</b><br />';
                    //if (_db.admin_address !='')
                    contentHTML += '<i class="icon-home icon"></i> Address: <b>' + clean(zone.admin_address) + '</b><br/>';
                    //if (_db.admin_email !='')
                    contentHTML += '<i class="icon-envelope icon"></i> Email: <b>' + clean(zone.admin_email) + '</b><br/>';
                    //if (_db.admin_phone !='')
                    contentHTML += '<i class="icon-phone icon"></i> Phone: <b>' + clean(zone.admin_phone) + '</b><br/>';
                    contentHTML += '</div>';
                    contentHTML += '</div>';

                    contentHTML += '<br />';
                //}
                //# Scientific
                //if(!(_db.scien_name =='' && _db.scien_address =='' && _db.scien_email =='' && _db.scien_phone =='')){
                    contentHTML += '<div class="geo-well well">';
                    contentHTML += '<div class="row">';
                    //if (_db.scien_name !='')
                    contentHTML += '<i class="icon-user icon"></i> Scientific contact: <b>' + clean(zone.scien_name) + '</b><br />';
                    //if (_db.scien_address !='')
                    contentHTML += '<i class="icon-home icon"></i> Address: <b>' + clean(zone.scien_address) + '</b><br/>';
                    //if (_db.scien_email !='')
                    contentHTML += '<i class="icon-envelope icon"></i> Email: <b>' + clean(zone.scien_email) + '</b><br/>';
                    //if (_db.scien_phone !='')
                    contentHTML += '<i class="icon-phone icon"></i>  Phone: <b>' + clean(zone.scien_phone) + '</b><br/>';
                    contentHTML += '</div>';
                    contentHTML += '</div>';
                    contentHTML += '<br />';
                //}
                //# Tecnical
                //if(!(_db.tec_name =='' && _db.tec_address =='' && _db.tec_email =='' && _db.tec_phone =='')){
                    contentHTML += '<div class="geo-well well">';
                    contentHTML += '<div class="row">';
                    //if (_db.tec_name !='')
                    contentHTML += '<i class="icon-user icon"></i> Tecnical contact: <b>' + clean(zone.tec_name) + '</b><br/>';
                    //if (_db.tec_address !='')
                    contentHTML += '<i class="icon-home icon"></i> Address: <b>' + clean(zone.tec_address) + '</b><br/>';
                    //if (_db.tec_email !='')
                    contentHTML += '<i class="icon-envelope icon"></i> Email: <b>' + clean(zone.tec_email) + '</b><br/>';
                    //if (_db.tec_phone !='')
                    contentHTML += '<i class="icon-phone icon"></i> Phone: <b>' + clean(zone.tec_phone) + '</b><br/>';
                    contentHTML += '</div>';
                    contentHTML += '</div>';

                    contentHTML += '</div>';


                    contentHTML += '<br/>';

                    return contentHTML;
                }

function refreshcontent(pos){
    var internalind = parseInt($('#select'+pos).val());

    console.log("POS X:"+pos);
    console.log('POS Y'+internalind);
    console.log(list_pos[pos][internalind]);
    $('#marker'+pos ).html(renderPopup(list_pos[pos][internalind]));
}
var map;
function initialize(list_db) {
	
    var latlng = new google.maps.LatLng(40, -40);
	var myOptions = {
		zoom: 3,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
	
	
	$(list_pos).each(function(pos_tmp)
	{
                        var _list = list_pos[pos_tmp];
                        var marker = new google.maps.Marker({
                                                map: map,
                                                position: new google.maps.LatLng(_list[0].lat, _list[0].long),
                                                title: ''
                                        });
                        



                        google.maps.event.addListener(marker, 'click', (function (marker) {
            return function () {


                
                // Build content
                var output = '<div id="info-window">';

                if(_list.length > 1){
                    output += '<select id="select'+pos_tmp+'" onchange="refreshcontent('+pos_tmp+')" style="width: 100%;">';
                    for(var i=0;i<_list.length;i++){
                        output += '<option value="'+i+'">'+_list[i].name+'</option>'
                    }
                    output += '</select>';
                }

                output += '<div id="marker'+pos_tmp+'">'+renderPopup(_list[0])+'</div>';

                //}
                output += '</div><br/>';
                infowindow.setContent(output);
                infowindow.open(map, marker);
            }
        })(marker));	


	});

}

var list_pos = [];
var list_db = [];


{% for key, list in db_list.items %}
    list_db = [];
    {% for db in list %}
        list_db.push({name: '{{db.name}}',
                    {%comment%}location: '{{db.location}}',{%endcomment%}
                    institution: '{{db.institution}}',
                    contact: '{{db.email_contact}}',
                    number_patients: '{{db.number_patients}}',
                    ttype: '{{db.ttype}}',
                    id : '{{db.id}}',
                    admin_name: '{{db.admin_name}}',
                    admin_address: '{{db.admin_address}}',
                    admin_email: '{{db.admin_email}}',
                    admin_phone: '{{db.admin_phone}}',
                    scien_name: '{{db.scien_name}}',
                    scien_address: '{{db.scien_address}}',
                    scien_email: '{{db.scien_email}}',
                    scien_phone: '{{db.scien_phone}}',
                    tec_name: '{{db.tec_name}}',
                    tec_address: '{{db.tec_address}}',
                    tec_email: '{{db.tec_email}}',
                    tec_phone: '{{db.tec_phone}}',
                    lat : '{{db.lat}}',
                    long: '{{db.long}}'
                    });

    {% endfor %}
    list_pos.push(list_db);
{% endfor %}


load_map = function(db_list)
{
	initialize(db_list);
}

$(document).ready(load_map.bind(window,list_db));




</script>


{% endblock %}

{% comment %}
<script type="text/javascript" >
{% endcomment %}

{% block scriptextra %}

 {% if isAdvanced %}
 var bool_container;
$(function(){
    bool_container = $('#bool_container').boolrelwidget({view_only: true, view_serialized_string: '{{request.session.serialization_query}}', link_back: $('#base_link').prop('href')+"advancedSearch/{{request.session.query_type}}/1/{{request.session.query_id}}"});
});
  {% endif %}

{% endblock %}


{% comment %}
</script>
{% endcomment %}



{% block styleextra %}
  #map_canvas { width: 100%; height: 600px; }
{% endblock %}


{% block content %}
{% if isAdvanced %}
<div id="bool_container"></div>
{% endif %}
<div id="map_canvas"></div>

{% endblock %}

