{% load extra_tags %}

<div class="span6">
	<div class="btn-group pull-right">
		{% if request.user.is_authenticated %} 
		<div class="btn-group" id="group_toolbar">

			<a class="btn btn" href="" id="add_toolbar" onclick="return false;"> <i class="icon-plus icon"></i>
				Add
			</a>
			<a class="btn btn dropdown-toggle" id="add_list_toolbar" data-toggle="dropdown" href="#">
				<span class="caret" ></span>
			</a>
			<ul class="dropdown-menu">
				
				{% show_fingerprints %}

			</ul>
		</div>
		{% endif %}
        {% if  collapse %}
		 <a id="collapseall" class="btn" href="" >
            Expand all
         </a>
        {% endif %}

		<button type="button" class="btn btn" onclick="window.print();" title="Print">
			<i class="icon-print"></i>
		</button>
		<!--<a href="" role="button" class="btn" title="Editar">
			<i class="icon-edit"></i>-->
		</a>
		

	</div>
</div>
