{% load extra_tags %}

<div class="span6">
	<div class="btn-group pull-right">
		{% if request.user.is_authenticated %} 
		<div class="btn-group" id="group_toolbar">

      {% if owner_fingerprint %}
      <a class="btn btn " href="dbEdit/{{t.id}}/{{t.ttype}}" id="edit_list_toolbar" title="Edit Database" title="Share Database"> <i class="icon-pencil icon"></i>
        Edit
        
      </a>

      <a class="btn btn sharedb" href="" id="share_list_toolbar" onclick="return false;"> <i class="icon-share icon"></i>
        Share
        
      </a>

      <a class="btn btn confirm-delete" href="" id="delete_list_toolbar" onclick="return false;"data-id="{{ t.id }}"  title="Remove Database"> <i class="icon-trash icon"></i>
        Delete
        
      </a>
      {% endif %}
			<a class="btn btn dropdown-toggle" data-toggle="dropdown" href="" id="add_list_toolbar"> <i class="icon-plus icon"></i>
				Add
				<span class="caret" ></span>
			</a>
			<ul class="dropdown-menu">
				
				{% show_fingerprints %}

			</ul>
		</div>
		{% endif %}
        {% if  collapse %}
		 <a id="collapseall" class="btn" href="" >
            Expand all
         </a>
        {% endif %}

		
	  {% if  geo %}
      <a class="btn" href="geo" onclick="" > <i class=" icon"></i>
        Geolocation
      </a>
      {% endif %}

      {% if data_table %}
      <a class="btn" href="alldatabases/data-table" onclick="" > <i class="icon icon-th"></i>
        Data table
      </a>
      {% endif %}

      {% if export_all_answers and request.user.is_superuser %}
      <a class="btn" href="export_all_answers" onclick="" > <i class="icon-file"></i>
        Export
      </a>
      {% endif %}

      

      {% if export_bd_answers and request.user.is_superuser %}
      <a class="btn" href="export_bd_answers/{{ fingerprint_id }}" onclick="" > <i class="icon-file"></i>
        Export
      </a>
      {% endif %}

      {% if export_my_answers and request.user.is_superuser %}
      <a class="btn" href="export_my_answers" onclick="" > <i class="icon-file"></i>
        Export
      </a>
      {% endif %}

      {% if request.user.is_superuser %}
            {% if  api_token %}
                <a class="btn" href="api-info"> <i class=" icon"></i>
                  API Info
                </a>
            {% endif %}
      {% endif %}

		<button type="button" class="btn btn" onclick="window.print();" title="Print">
      <i class="icon-print"></i>
    </button>
		

	</div>
</div>



<script>


/***************************************************************
************** Delete ******************************************
****************************************************************/
$('#modal-from-dom').bind('show', function() {
    var id = $(this).data('id'),
        removeBtn = $(this).find('.btn-danger'),
        href = removeBtn.attr('href');
    console.log('id' + id);

    removeBtn.attr('href', href.replace('ref', '' + id));
});


$('.confirm-delete').click(function(e) {
    e.preventDefault();
    
    var id = $(this).data('id');
    $('#modal-from-dom').data('id', id).modal('show');
});



/***************************************************************
************** Auxiliar method to post 
****************************************************************/

function post_to_url(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    //var form = document.createElement("form");
    var form = document.getElementById("send");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
};


/***************************************************************
************** Shared ******************************************
****************************************************************/
$('#modal-from-dom-share').bind('show', function() {
    var id = $(this).data('id'),
        removeBtn = $(this).find('.sharedb2'),
        href = removeBtn.attr('href');
    
    removeBtn.attr('href', href.replace('ref', '' + id));
});

// This bind is handle the click in share button
$(".sharedb" ).click(function(e) 
{
  e.preventDefault();
  var id = $(this).data('id');
  $('#modal-from-dom-share').data('id', id).modal('show');
       
});

// This bind will share the email. 
$(".sharedb2" ).click(function(e) 
{
  e.preventDefault();
  post_to_url($(this).attr('href'), {"email": $("#share_email").val(), "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').prop('value')});

});




</script>
