{% load bootstrap_pagination %}

<div style="min-width: 560px;">

{% bootstrap_paginate page_obj url_view_name="views.all_databases_user" range=10  show_prev_next="false" show_first_last="true"%}

<div style="margin-top: -55px;" class="pull-right pagination-centered">
<select id="paginator_rows" class="span1 paginator-page-selector" >
  <option value="5" {% if page_rows == 5 %}selected{% endif %}>5</option>
  <option value="10" {% if page_rows == 10 %}selected{% endif %}>10</option>
  <option value="25" {% if page_rows == 25 %}selected{% endif %}>25</option>
  <option value="50" {% if page_rows == 50 %}selected{% endif %}>50</option>
  <option value="-1" {% if page_rows > 50 %}selected{% endif %}>All</option>
</select>
</div>

<form id="send2" method="POST" > 
  <input id="page" type="hidden" name="page" value="{{page}}"></input>
  <input id="page_rows" type="hidden" name="page_rows" value="{{page_rows}}"></input>
  <input id="s" type="hidden" name="s" value=""></input>  
  <input id="submit_simulate" style="display:none" type="submit" value="Submit">
{% csrf_token %}
</form>
<div class="clearboth"></div>
</div>
<script>
	$(document).ready(function(){
		paginator_via_post();
	});
</script>