{% load extra_tags %}



<div class="dataTables_scrollBody" style="overflow: auto; width: 100%; height: 470px;">
    <table cellpadding="0" cellspacing="0" border="1" class="display dataTable table table-hover tablesorter "  data-provides="rowlink" id="table_databases" style="margin: 0px;">
	<thead>
		<tr>
			<th>{{ titles.0 }}</th>
            {% for t in titles.1 %}
               <th  title="{{ t.tag|removehs }}">{{t.tag|truncate|removehs}} </th>
            {% endfor %}
		</tr>
	</thead>
    <tbody>

            {% for ans in answers %}
            <tr class="">
                <td>{{ ans.0 }}</td>
                {% for a in ans.1 %}
                    <td title="{{a}}"> {{ a|truncate  }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
    </tbody>
</table>
</div>
<script type="application/javascript">
$(function() {

  // call the tablesorter plugin
  $("#table_databases").tablesorter({
    theme : 'blue',

    // sort on the first column and third column in ascending order
    sortList: [[0,0],[2,0]],

    // hidden filter input/selects will resize the columns, so try to minimize the change
    widthFixed : true,

    // initialize zebra striping and filter widgets
    widgets: ["zebra", "filter"]
    
  });
$("#table_databases").stickyTableHeaders({container: ".dataTables_scrollBody"});

	
});

</script>