{% extends 'base.html' %}
{% load url from future %}

{% block styleextra %}


{% endblock %}

{% block content %}
<div class="container" style="text-align:center">
  <div class="">
  <div class="jumbotron">

    <div class="span12" style="text-align:center; padding-top: 40px">
      <img src="static/img/emif_logo.png" alt="EMIF Logo" style="width: 180px; height: 163px;" />
      <h2>Quick Search </h2>    
    </div>


  </div>
<hr>
  
<div class="span12" style="text-align:center">
    

                    <form class="form" id="home_search" action="resultsdiff/1" method="POST">{% csrf_token %}
                        <div class="input-append center" id="home_form">
                            <input class="input-xlarge" id="text_search" class="home_search" placeholder="Search here..."  type="text" name='query'>
                            <div class="btn-group" id="search_button">
                                
                                   <input type="submit" name="searchbutton" class="btn btn-inverse" value="Search" onclick="return verify();">

                                   {% comment %}
                                   <div style="padding-top:20px">
                                   <input type="submit" name="searchbutton" class="btn btn-success" value="Query History" onclick="return verify();">
                                 </div>
                                 {% endcomment %}
                                   <!--
                                <button class="btn btn-inverse dropdown-toggle" id="button_search_toggle" data-toggle="dropdown" tabindex="-1" rel="tooltip" title="Select search type">
                                    <span class="caret"></span>
                                </button>
                                
                                <ul class="dropdown-menu radios">
                                    <li>
                                        <label rel="tooltip" data-placement="right" title="Search for identifiers and disease name only" class="radio">
                                            <input type="radio" name="search_full" id="search_full" value="search_full" checked>Full
                                        </label>
                                    </li>
                                    <li>
                                        <label rel="tooltip" data-placement="right" title="Search for full text in all connected content" class="radio">
                                            <input type="radio" name="search_full" id="search_comp"  value="search_comp">Comparative
                                        </label>
                                    </li>
                                </ul>-->
                            </div>
                        </div>
                    </form>

</div>
  
  </div>
</div>
</div>
{% endblock %}

{% block scriptextra %}
$('#li_search').addClass("active");

function verify()
{

  if ($("#text_search").val() == "")
  {
    return false;

  }
  return true;
}
{% endblock %}
