{% extends 'base.html' %}
{% load url from future %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Statistics" "statistics" %}
{% endblock %}

{% load extra_tags %}

{% load markup questionnaire i18n %}

{% block content %}
    <div class="container">
        <!--{#        <div class="jumbotron">#}-->
        <!--{##}-->
        <!--{#            <div class="span12" style="text-align:center">#}-->
        <!--{#                <img src="static/img/emif_logo.png" alt="EMIF Logo" style="width: 80px; height: 81px;"/>#}-->
        <!--{##}-->
        <!--{#                <h2>Statistics</h2>#}-->
        <!--{#            </div>#}-->
        <!--{##}-->
        <!--{#        </div>#}-->
    </div>
    <hr>
    <div class="row">
        <div class="span3">
            <div class="well" style="max-width: 340px; padding: 8px 0;">

                <ul class="nav nav-list nav-pills nav-stacked ">
                    <li class="nav-header">Step-by-Step</li>
                    {% for qs in questionset.questionnaire.questionsets %}

                        {% if qs.sortid != 0 and qs.sortid != 99 %}
                            <li{% if questionset.text == qs.text %} class="active" {% endif %} id="li_qs_{{ qs.id }}">
                            <a href="statistics/{{ qs.questionnaire.pk }}/{{ qs.pk }}"
                               onclick="questionsets_handle('qs_{{ qs.pk }}');">
                                <table>
                                    <tr>
                                        <td width="80%">{{ qs.text|removeh1 }}</td>
                                        <td width="10%">
                                            <!--<span style="float:right; vertical-align: middle " class="badge badge-warning">2</span>
                                          -->
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="span8">
            <div class="questionset-title">
                <h3>{{ questionset.text|removeh1 }}</h3>
            </div>

            {% for qt in questions_list %}
                {% if qt.stats == 1 or qt.type == 'comment' %}
                <div class="question-text"><span>{{ qt.number }}. {{ qt.text|safe }}</span></div>
                    {% if qt.stats == 1 %}
                        <div  id="chart_{{ qt.number }}"></div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scriptextraincludes %}
    <script src="http://d3js.org/d3.v3.min.js"></script>7
    <script src="static/js/charts_d3.js"></script>

{% endblock %}

{% block scriptextra %}

    $('#li_workspace').addClass("active");


    <!-- Define Chart Type -->

    <!---->

    <!-- Call draw_chart() function -->
    {% for qt in questions_list %}
        $("#chart_{{ qt.number }}").ready(function() {
            console.log({{ questionnaire_id }}, {{ questionset.id }}, '{{ qt.slug }}', 'piechart', 'chart_{{ qt.number }}');
            draw_chart({{ questionnaire_id }}, {{ questionset.id }}, '{{ qt.slug }}', 'piechart', 'chart_{{ qt.number }}');
        });
    {% endfor %}
    <!---->

     <!-- Function draw_chart() -->
    function draw_chart(q_id, qs_id, slug, type, div_id) {
        var values = getQuestionValues(q_id, qs_id, slug, type);
        <!-- Falta verificar se não existem respostas para a pergunta -->
        <!-- Caso não exista, não desenha o gráfico, caso contrário, chama a função draw_chart() -->
        if (values != '')
            draw_piechart(values, div_id);


    }


<!-------------------------- APAGAR / REMODELAR ----------------------------------------->
    function next_questionset(id_questionset){
        var next = false;
        $('.questionset').each(function(i, obj) {
            console.log("obj.id: " + obj.id);
            console.log("next" + next);
            if (next==true){
                questionsets_handle(obj);
                next = false;
            }
            if (obj.id==id_questionset.id){
                next = true;
            }
        });
    }

    function questionsets_handle(id_questionset){
        console.log("Clicked QuestionSet: " + id_questionset.id);
        $('.questionset').each(function(i, obj) {
            console.log("obj.id: " + obj.id);
            if (obj.id==id_questionset.id){
                console.log("show " + obj.id);
                $('#'+obj.id).addClass("show");
                $('#li_'+id_questionset.id).addClass("active");
            }
            else {
                console.log("hide " + obj.id);
                $('#li_'+obj.id).removeClass("active");
                $('#'+obj.id).addClass("hide");
                $('#'+obj.id).removeClass("show");
            }
        });
    };
<!------------------------------------------------------------------->

{% endblock %}