{% extends 'base.html' %}
{% load url from future %}
{% load extra_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}

        {% breadcrumb "Home" "home" %}
        {% breadcrumb "History" "" %}

{% endblock %}

{% block content%}
<div class="row">
    <div id="contact_wrap" class="rows">
        <div class="span12 center">
{% if request.user.is_staff %}        
<ul class="nav nav-tabs">
  <li class="active"><a href="#milestones" data-toggle="tab">Releases</a></li>
  <li><a href="#closedissues" data-toggle="tab">Recently Closed Issues</a></li>
  <li><a href="#openissues" data-toggle="tab">Open Issues</a></li>
</ul>
{% else %}
<h2>Releases</h2>
{% endif %}
<div class="tab-content">
  <div class="tab-pane active" id="milestones">
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Milestone</th>
                    <th>Description</th>
                    <th style="width: 100px;">Closed Date</th>
                    <th>Status</th>
                </tr>
            </thead>
                <tbody>
                    {% for milestone in milestones %}
                        {% if milestone.state == 'closed' or request.user.is_staff %}
                        <tr>
                            <td>{{milestone.title}}</td>
                            <td>
                                {{milestone.description|safe|linebreaks}} <br />
                                <div class="labels">
                                    <div class="pull-right">
                                    {% for label in milestone.iter_labels %}
                                        {% if label|is_usecase %}
                                        <span style="background-color: #{{label.color}}" class="label">{{ label.name }}</span>
                                        {% endif %}
                                        
                                    {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td>{{milestone.due_on|date:"Y-m-d"}}</td>
                            <td style="text-align: center">
                                {% if milestone.state == 'closed' %}
                                    <i title="closed" class="fa fa-2 fa-check"></i>
                                {% else %}
                                    <i title="open" class="fa fa-2 fa-circle-o"></i>
                                {%endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

  </div>
{% if request.user.is_staff %}
  <div class="tab-pane" id="closedissues">   
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Use Cases</th>
                <th style="width: 100px;">Closed Date</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues_closed %}
                <tr>
                    <td>{{issue.title}}</td>
                    <td>
                        <div class="labels">
                            <div class="pull-right">
                            {% for label in issue.labels %}
                                {% if label|is_usecase %}
                                <span style="background-color: #{{label.color}}" class="label">{{ label.name }}</span>
                                {% endif %}
                                
                            {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{issue.closed_at|date:"Y-m-d"}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>               
  </div>
  <div class="tab-pane" id="openissues">      
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Use Cases</th>
                <th style="width: 100px;">Created Date</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues_open %}
                <tr>
                    <td>{{issue.title}}</td>
                    <td>
                        <div class="labels">
                            <div class="pull-right">
                            {% for label in issue.labels %}
                                {% if label|is_usecase %}
                                <span style="background-color: #{{label.color}}" class="label">{{ label.name }}</span>
                                {% endif %}
                                
                            {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{issue.created_at|date:"Y-m-d"}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>  
  </div>
{%endif%}
</div>

        </div>
        <!-- end contact_wrap --> </div>
</div>

{% endblock %}

 {% block scriptextra %}
{% comment %}
<script>
{% endcomment %}

$('#li_history').addClass("active");

{% comment %}
</script>
{% endcomment %}

{% endblock %}


